.modal-popup  {
  &.modal {
    z-index: 1000;
    background-color: rgba($color: #000000, $alpha: 0.7);
  }

  .modal__container {
    width: 100%;
    max-width: 100.8rem;
    aspect-ratio: 1.9 / 1;

    background-color: lightgray;
    border-radius: 0;

    @include breakpoint(portrait-tablet) {
      max-width: 100%;
      height: 100vh;
      aspect-ratio: unset;
    }
  }

  .modal__content {
    height: 100%;
    padding: 0;

    color: var(--base-1, #FFF);
    text-align: center;
  }

  .modal__close-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 7.4rem;
    height: 7.4rem;

    cursor: pointer;

    i {
      display: block;
      width: 2.4rem;
      height: 2.4rem;
      flex-shrink: 0;

      background-image: url("data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%3E%0A%20%20%3Cpath%20d%3D%22M19%205L5%2019M19%2019L5%205%22%20stroke%3D%22white%22%20stroke-width%3D%221.4%22%2F%3E%0A%3C%2Fsvg%3E");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h2 {
      color: var(--base-1, #FFF);
      font: var(--font-Heading-H2);
      text-align: center;
    }
  }

  &__button {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    left: 2rem;
    z-index: 1;

    width: calc(100% - 4rem);

    opacity: 0;
    visibility: hidden;

    @include breakpoint(portrait-tablet) {
      opacity: 1;
      visibility: visible;
    }
  }

  &__content {
    margin-top: 3.2rem;

    @include breakpoint(portrait-tablet) {
      margin-top: 1.6rem;
    }
  }

  &__bonuses {
    display: inline-flex;

    span {
      color: var(--base-1, #FFF);
      font: var(--font-Text-T4-semi1);
      text-align: center;
      text-transform: uppercase;
    }
  }

  &__bonuses-value {
    display: inline-flex;

    &::before {
      content: "+";
    }

    &::after {
      display: inline-block;

      width: 1.4rem;
      height: 1.6rem;
      margin-left: 0.4rem;

      background-image: url("data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214%22%20height%3D%2217%22%20viewBox%3D%220%200%2014%2017%22%20fill%3D%22none%22%3E%0A%20%20%3Ccircle%20cx%3D%227%22%20cy%3D%229%22%20r%3D%227%22%20fill%3D%22white%22%2F%3E%0A%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M4.97398%205.65612C4.95106%205.6804%204.93226%206.36277%204.93226%207.17258V8.64487H4.66061C4.3434%208.64487%204.32232%208.68294%204.32109%209.25754L4.32031%209.61375H4.62517H4.93009L4.94505%2010.8533L4.96007%2012.0929H5.5442H6.12832L6.15614%2010.8391L6.18395%209.58526H6.42495H6.66594L7.26771%2010.7821C7.59871%2011.4404%207.89667%2012.0095%207.92983%2012.0468C7.99647%2012.1217%209.0464%2012.1365%209.16072%2012.0641C9.20679%2012.0349%209.04089%2011.6468%208.61181%2010.78C8.27357%2010.0968%208.00972%209.51646%208.02551%209.4903C8.04126%209.46414%208.09984%209.44277%208.15569%209.44277C8.34817%209.44277%209.14425%208.99053%209.28484%208.80137C9.64955%208.31061%209.75053%207.89371%209.65595%207.26913C9.54519%206.53808%209.13046%206.05752%208.38089%205.79159C8.05027%205.67436%207.89295%205.66136%206.51774%205.63777C5.69162%205.62363%204.9969%205.6319%204.97398%205.65612ZM7.86474%206.83541C8.19285%206.92808%208.35073%207.08681%208.44058%207.41434C8.64641%208.16471%208.06139%208.57397%206.74027%208.60378L6.18395%208.61638L6.16866%207.65411L6.15336%206.6919L6.86405%206.72268C7.25491%206.73967%207.70525%206.79039%207.86474%206.83541Z%22%20fill%3D%22%2341352B%22%2F%3E%0A%3C%2Fsvg%3E");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%;

      content: "";
    }
  }

  &__mail {
    h3 {
      margin-bottom: 1.2rem;
      color: var(--base-1, #FFF);
      font: var(--font-Text-T4-semi1);
;
      text-align: center;
      text-transform: uppercase;
      opacity: 0.7;

      @include breakpoint(portrait-tablet) {
        margin-top: 0.8rem;
      }
    }

    span {
      display: block;
      color: var(--base-1, #FFF);
      font: var(--font-Text-T3-semi1);
      text-align: center;
      text-transform: uppercase;
    }
  }

  &--order {
    .modal-popup__body {
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), url('../../assets/images/popups/order.png');
    }
  }

  &--certificate {
    .modal-popup__body {
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), url('../../assets/images/popups/certificate.png');
    }
  }
}
