.catalog-menu {
  background-color: var(--base-1, #fff);

  &__body {
    position: relative;

    display: flex;
    align-items: stretch;

    width: 100%;
  }

  &__collections {
    display: flex;
    align-items: stretch;
    column-gap: 1.6rem;

    padding: 4rem 8rem 4rem 0;

    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: rgba($color: #191919, $alpha: 0.2);

    @include breakpoint(large-desktop) {
      padding: 2rem 4rem 2rem 0;
    }
  }

  &__collection {
    height: 100%;
  }

  &__menus {
    display: flex;
    flex-flow: row wrap;
    row-gap: 5.5rem;
    column-gap: 5.5rem;
    padding: 4rem 4rem 4rem 8rem;

    @include breakpoint( large-desktop) {
      row-gap: 3.5rem;
      column-gap: 3.5rem;

      padding: 2rem 2rem 2rem 4rem;
    }
  }

  &__close {
    position: absolute;
    top: 3.5rem;
    right: 0;
    z-index: 100;

    .icon {
      width: 24px;
      height: 24px;

      opacity: 0.5;
      stroke: var(--base-3, #191919);
      stroke-width: 1.4px;
      transition: opacity 0.3s ease-out;
    }

    &:hover {
      .icon {
        opacity: 1;
      }
    }

    @include breakpoint( large-desktop) {
      top: 2rem;
    }
  }

  @include breakpoint(laptop) {
    display: none;
  }
}

.menu-catalog {
  color: var(--base-3, #191919);

  &__title {
    display: block;
    margin-bottom: 1rem;

    font: var(--font-Text-T5-semi1);
    text-transform: uppercase;
  }

  &__item {
    margin-bottom: 6px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    font: var(--font-Text-T5-lg1);
    letter-spacing: 0.02em;
    text-transform: initial;

    &:hover {
      color: var(--base-2, #8c8c8c);
    }

    &--all-links {
      position: relative;
      padding-right: 1.5rem;

      &::after {
        position: absolute;
        top: 50%;
        right: 0;
        z-index: 1;

        width: 1rem;
        height: 1rem;

        transform: translateY(-40%);

        @include svgBackground(url("data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2210%22%20height%3D%2210%22%20viewBox%3D%220%200%2010%2010%22%20fill%3D%22none%22%3E%0A%20%20%3Cpath%20d%3D%22M2.57734%200L2.97035%201.0621C3.57806%202.70441%204.87293%203.99928%206.51525%204.60699L7.57734%205L6.51525%205.39301C4.87293%206.00072%203.57806%207.29559%202.97035%208.9379L2.57734%2010C1.98096%208.3883%203.28404%205.76854%204.82111%205C3.28404%204.23146%201.98096%201.6117%202.57734%200Z%22%20fill%3D%22%2341352B%22%2F%3E%0A%3C%2Fsvg%3E"), 100%, 100%);
        content: "";
      }
    }
  }

  &--bigger-margins {
    .menu-catalog__title {
      margin-bottom: 1.5rem;
    }

    .menu-catalog__item {
      margin-bottom: 0.6rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
