.popup-cart {
  position: fixed;
  top: 5.5rem;
  right: 5rem;
  z-index: 150;
  max-width: 390px;
  width: 100%;

  display: none;
  animation: appearancePopupInter 0.4s ease-out;

  &--visible {
    display: block;
    transition: 0.4s ease-out;
  }

  &--closed {
    opacity: 0;
    visibility: hidden;
  }

  &__body {
    display: flex;
    align-items: center;
    column-gap: 1.6rem;

    padding: 1.6rem 5.3rem 1.6rem 1.6rem;

    color: var(--base-1, #FFF);
    background-color: var(--base-3, #191919);

    @include breakpoint(mobile) {
      padding: 1.6rem;
    }
  }

  &__image {
    flex-shrink: 0;
    width: 7.4rem;
    height: 7.4rem;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }

    @include breakpoint(portrait-tablet) {
      width: 60px;
      height: 60px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__heading {
    display: flex;
    align-items: center;
    column-gap: 0.4rem;
    margin-bottom: 0.6rem;

    .icon {
      width: 18px;
      height: 18px;

      stroke: var(--base-1, #fff);
      fill: transparent;
      transition: opacity var(--transition);
    }
  }

  &__title {
    display: block;
    font: var(--font-Text-T4-semi1);
    text-transform: uppercase;
  }

  &__desc {
    font: var(--font-Text-T5-lg1);
    text-transform: initial;
    opacity: 0.8;
  }

  @include breakpoint(large-desktop) {
    right: 1rem;
  }

  @include breakpoint(mobile) {
    right: 0;
    width: 100%;
  }
}

@keyframes appearancePopupInter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appearancePopupOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
