-
  var socialsSvgs = [
    'wp',
    'tg',
    'vk',
  ]

header.header(class=headerClass)
  .site-container
    .header__burger-menu
      button.hamburger-btn

      .controlbar__item.controlbar__item--ham-sibling
        button.controlbar__link.control-btn(type="button", aria-label="поиск", data-path="modal-search")
          +icon-mono('search')

    a.header__logo.logo(href="/")
      +icon-mono('logo')

    .header__menu
      ul.menu
        li.menu__item
          button.menu__link.js-catalog Каталог
        li.menu__item
          a.menu__link(href="#") Новинки
        li.menu__item
          a.menu__link(href="#") Акции
        li.menu__item
          a.menu__link(href="#") Коллекции
        li.menu__item
          a.menu__link(href="#") сертификаты
        li.menu__item
          button.menu__link О бутике
          div.menu__sublist-wrapper: ul.menu__sublist
            li.menu__subitem
              a(href="") о нас
            li.menu__subitem
              a(href="") шоурум
            li.menu__subitem
              a(href="") производство
            li.menu__subitem
              a(href="") блог
            li.menu__subitem
              a(href="") показы

        li.menu__item
          a.menu__link(href="#") покупателям

      .mobile-menu__footer
        .mobile-menu__user
          button.login-btn.login-btn--not-auth Войти в профиль
          a(href="#").login-btn.login-btn--is-auth Анастасия Смирнова

        .mobile-menu__contacts
          a.phone-link.phone-link--dark(href="tel:8 800 999-44-44")
            | 8 800 999-44-44
          a.email-link.email-link--dark(href="mailto:pr@retrova.com")
            | pr@retrova.com
          a.contacts-link.contacts-link--dark(href="#")
            +icon-multi('link-arrow-prime')
            span.contacts-link__text
              | все контакты
            +icon-multi('link-arrow-clean-prime')

          .mobile-menu__socials.socials
            ul.socials__list
              each svg in socialsSvgs
                li.socials__item
                  a.socials__link.social-link.social-link--dark(href="#")
                    +icon-mono(svg)

          .mobile-menu__bank-links
            a.bank-link(href="#")
              object(data="./assets/images/tff-dark.svg" width="67" height="14")
            a.bank-link(href="#")
              object(data="./assets/images/halva-dark.svg" width="67" height="15")

    .header__controlbar
      ul.controlbar
        li.controlbar__item.controlbar__item--mobile-hidden
          button.controlbar__link.control-btn(type="button", aria-label="поиск", data-path="modal-search")
            +icon-mono('search')
        li.controlbar__item
          button.controlbar__link.control-btn(type="button", aria-label="избранное", data-path="modal-favorites", data-count="2")
            +icon-mono('heart')
            span.control-btn__counter.account-layout__bell-counter
        li.controlbar__item
          button.controlbar__link.control-btn(type="button", aria-label="корзина", data-path="modal-cart", data-count="1")
            +icon-mono('cart')
            span.control-btn__counter.account-layout__bell-counter
        li.controlbar__item.controlbar__item--mobile-hidden
          button.controlbar__link.control-btn(type="button", aria-label="авторизация", data-path="modal-login")
            +icon-mono('user-lk')

    include ./popup-location.pug
    include ./popup-cart.pug

  .header__catalog
    include ./catalog-menu.pug

  include ./popup-copy.pug
  include ./popup-save-success.pug
  include ./popup-save-error.pug



  .modal.modal-locate-list.modal-cart
    include ../../parts/modals/modal-cart.pug

  .modal.modal-locate-list.modal-cart
    include ../../parts/modals/modal-favorites.pug

  .modal.modal-search.js-search-modal
    include ../../parts/modals/modal-search.pug

  .modal.modal-locate-list.modal-lifestyle.modal-locate-list--certificates
    include ../../parts/modals/modal-login.pug

  .modal.modal-locate-list.modal-lifestyle.modal-locate-list--certificates
    include ../../parts/modals/modal-code.pug
