header.header(class=headerClass)
  .site-container
    .header__burger-menu
      button.hamburger-btn

      .controlbar__item
        button.controlbar__link.control-btn(type="button", aria-label="поиск", data-path="modal-search")
          +icon-mono('search')

    a.header__logo.logo(href="/")
      +icon-mono('logo')

    .header__menu
      ul.menu
        li.menu__item
          a.menu__link.js-catalog(href="#") Каталог
        li.menu__item
          a.menu__link(href="#") Новинки
        li.menu__item
          a.menu__link(href="#") Акции
        li.menu__item
          a.menu__link(href="#") Коллекции
        li.menu__item
          a.menu__link(href="#") сертификаты
        li.menu__item
          .menu__link.menu__link--about-boutique.sorting.sorting--about(href="#")
            button.sorting__button.expand-btn(type="button")
              span.expand-btn__text.expand-btn__text--is-hidden
                | о бутике
              +icon-mono('arrow-down')

            ul.sorting__list
              li.sorting__item
                button(type='button') о нас
              li.sorting__item
                button(type='button') шоурум
              li.sorting__item
                button(type='button') производство
              li.sorting__item
                button(type='button') блог
              li.sorting__item
                button(type='button') показы

        li.menu__item
          a.menu__link(href="#") покупателям

    .header__controlbar
      ul.controlbar
        li.controlbar__item.controlbar__item--mobile-hidden
          button.controlbar__link.control-btn(type="button", aria-label="поиск", data-path="modal-search")
            +icon-mono('search')
        li.controlbar__item
          button.controlbar__link.control-btn(data-path="modal-favorites")
            +icon-mono('heart')
        li.controlbar__item
          button.controlbar__link.control-btn(data-path="modal-cart")
            +icon-mono('cart')
        li.controlbar__item.controlbar__item--mobile-hidden
          a.controlbar__link.control-btn(href="#", aria-label="авторизация")
            +icon-mono('user-lk')

    //- include ./popup-location.pug
    include ./popup-cart.pug

  .header__catalog
    include ./catalog-menu.pug

  include ./mobile-menu.pug

  include ./popup-copy.pug
  include ./popup-save-success.pug
  include ./popup-save-error.pug
