-
  var socialsSvgs = [
    'wp',
    'tg',
    'vk',
  ]

.mobile-menu
  .mobile-menu__body
    .mobile-menu__slider.swiper.js-catalog-menu-swiper
      ul.mobile-menu__swiper-wrapper.swiper-wrapper
        li.mobile-menu__swiper-slide.swiper-slide
          .mobile-menu__slide-body
            .mobile-menu__dropdown.dropdown-modal
              button.dropdown-modal__button.footer-menu__button.js-catalog-next-slide(type="button")
                span
                  | Каталог
                +icon-multi('arrow-up-black')

            .mobile-menu__dropdown.dropdown-modal
              a.dropdown-modal__button.footer-menu__button.mobile-menu__link(href="#")
                span
                  | Новинки
                +icon-multi('arrow-up-black')

            .mobile-menu__dropdown.dropdown-modal
              a.dropdown-modal__button.footer-menu__button.mobile-menu__link(href="#")
                span
                  | акции
                +icon-multi('arrow-up-black')

            .mobile-menu__dropdown.dropdown-modal
              a.dropdown-modal__button.footer-menu__button.mobile-menu__link(href="#")
                span
                  | коллекции
                +icon-multi('arrow-up-black')

            .mobile-menu__dropdown.dropdown-modal
              a.dropdown-modal__button.footer-menu__button.mobile-menu__link(href="#")
                span
                  | сертификаты
                +icon-multi('arrow-up-black')

            .mobile-menu__dropdown.dropdown-modal
              a.dropdown-modal__button.footer-menu__button.mobile-menu__link(href="#")
                span
                  | о бутике
                +icon-multi('arrow-up-black')

            .mobile-menu__dropdown.dropdown-modal
              a.dropdown-modal__button.footer-menu__button.mobile-menu__link(href="#")
                span
                  | покупателям
                +icon-multi('arrow-up-black')

        li.mobile-menu__swiper-slide.swiper-slide
          .mobile-menu__slide-body
            .mobile-menu__dropdown.dropdown-modal
              button.mobile-menu__back-button.dropdown-modal__button.js-catalog-prev-slide(type="button")
                +icon-multi('arrow-up-black')
                span
                  | Каталог

            .mobile-menu__dropdown.dropdown-modal
              button.dropdown-modal__button.footer-menu__button.mobile-menu__link.js-catalog-nav-slide(type="button", data-nav="sl-1")
                span
                  | одежда
                +icon-multi('arrow-up-black')

            .mobile-menu__dropdown.dropdown-modal
              button.dropdown-modal__button.footer-menu__button.mobile-menu__link.js-catalog-nav-slide(type="button", data-nav="sl-2")
                span
                  | верхняя одежда
                +icon-multi('arrow-up-black')

            .mobile-menu__dropdown.dropdown-modal
              button.dropdown-modal__button.footer-menu__button.mobile-menu__link.js-catalog-nav-slide(type="button", data-nav="sl-3")
                span
                  | образы
                +icon-multi('arrow-up-black')
            .mobile-menu__dropdown.dropdown-modal
              button.dropdown-modal__button.footer-menu__button.mobile-menu__link.js-catalog-nav-slide(type="button", data-nav="sl-4")
                span
                  | коллекции
                +icon-multi('arrow-up-black')

        li.mobile-menu__swiper-slide.swiper-slide(data-slide="sl-2")
          .mobile-menu__slide-body
            .mobile-menu__dropdown.dropdown-modal
              button.mobile-menu__back-button.dropdown-modal__button.js-catalog-prev-slide(type="button")
                +icon-multi('arrow-up-black')
                span
                  | верхняя одежда

            .mobile-menu__dropdown.dropdown-modal
              a.dropdown-modal__button.footer-menu__button.mobile-menu__link(href="#")
                span
                  | смотреть все
                +icon-multi('arrow-up-black')

            .mobile-menu__dropdown.dropdown-modal
              a.dropdown-modal__button.footer-menu__button.mobile-menu__link(href="#")
                span
                  | футболки
                +icon-multi('arrow-up-black')

            .mobile-menu__dropdown.dropdown-modal
              a.dropdown-modal__button.footer-menu__button.mobile-menu__link(href="#")
                span
                  | рубашки
                +icon-multi('arrow-up-black')
            .mobile-menu__dropdown.dropdown-modal
              a.dropdown-modal__button.footer-menu__button.mobile-menu__link(href="#")
                span
                  | толстовки
                +icon-multi('arrow-up-black')
            .mobile-menu__dropdown.dropdown-modal
              a.dropdown-modal__button.footer-menu__button.mobile-menu__link(href="#")
                span
                  | юбки
                +icon-multi('arrow-up-black')
            .mobile-menu__dropdown.dropdown-modal
              a.dropdown-modal__button.footer-menu__button.mobile-menu__link(href="#")
                span
                  | рубашки
                +icon-multi('arrow-up-black')
            .mobile-menu__dropdown.dropdown-modal
              a.dropdown-modal__button.footer-menu__button.mobile-menu__link(href="#")
                span
                  | трикотаж
                +icon-multi('arrow-up-black')

        li.mobile-menu__swiper-slide.swiper-slide(data-slide="sl-1")
          .mobile-menu__slide-body
            .mobile-menu__dropdown.dropdown-modal
              button.mobile-menu__back-button.dropdown-modal__button.js-catalog-prev-slide(type="button")
                +icon-multi('arrow-up-black')
                span
                  | одежда

            .mobile-menu__dropdown.dropdown-modal
              a.dropdown-modal__button.footer-menu__button.mobile-menu__link(href="#")
                span
                  | смотреть все
                +icon-multi('arrow-up-black')

            .mobile-menu__dropdown.dropdown-modal
              a.dropdown-modal__button.footer-menu__button.mobile-menu__link(href="#")
                span
                  | футболки
                +icon-multi('arrow-up-black')

            .mobile-menu__dropdown.dropdown-modal
              a.dropdown-modal__button.footer-menu__button.mobile-menu__link(href="#")
                span
                  | рубашки
                +icon-multi('arrow-up-black')
            .mobile-menu__dropdown.dropdown-modal
              a.dropdown-modal__button.footer-menu__button.mobile-menu__link(href="#")
                span
                  | толстовки
                +icon-multi('arrow-up-black')
            .mobile-menu__dropdown.dropdown-modal
              a.dropdown-modal__button.footer-menu__button.mobile-menu__link(href="#")
                span
                  | юбки
                +icon-multi('arrow-up-black')
            .mobile-menu__dropdown.dropdown-modal
              a.dropdown-modal__button.footer-menu__button.mobile-menu__link(href="#")
                span
                  | рубашки
                +icon-multi('arrow-up-black')
            .mobile-menu__dropdown.dropdown-modal
              a.dropdown-modal__button.footer-menu__button.mobile-menu__link(href="#")
                span
                  | трикотаж
                +icon-multi('arrow-up-black')

        li.mobile-menu__swiper-slide.swiper-slide(data-slide="sl-4")
          .mobile-menu__slide-body
            .mobile-menu__dropdown.dropdown-modal
              button.mobile-menu__back-button.dropdown-modal__button.js-catalog-prev-slide(type="button")
                +icon-multi('arrow-up-black')
                span
                  | коллекции

            .mobile-menu__dropdown.dropdown-modal
              a.dropdown-modal__button.footer-menu__button.mobile-menu__link(href="#")
                span
                  | смотреть все
                +icon-multi('arrow-up-black')

            .mobile-menu__dropdown.dropdown-modal
              a.dropdown-modal__button.footer-menu__button.mobile-menu__link(href="#")
                span
                  | футболки
                +icon-multi('arrow-up-black')

            .mobile-menu__dropdown.dropdown-modal
              a.dropdown-modal__button.footer-menu__button.mobile-menu__link(href="#")
                span
                  | рубашки
                +icon-multi('arrow-up-black')
            .mobile-menu__dropdown.dropdown-modal
              a.dropdown-modal__button.footer-menu__button.mobile-menu__link(href="#")
                span
                  | толстовки
                +icon-multi('arrow-up-black')
            .mobile-menu__dropdown.dropdown-modal
              a.dropdown-modal__button.footer-menu__button.mobile-menu__link(href="#")
                span
                  | юбки
                +icon-multi('arrow-up-black')
            .mobile-menu__dropdown.dropdown-modal
              a.dropdown-modal__button.footer-menu__button.mobile-menu__link(href="#")
                span
                  | рубашки
                +icon-multi('arrow-up-black')
            .mobile-menu__dropdown.dropdown-modal
              a.dropdown-modal__button.footer-menu__button.mobile-menu__link(href="#")
                span
                  | трикотаж
                +icon-multi('arrow-up-black')

        li.mobile-menu__swiper-slide.swiper-slide(data-slide="sl-3")
          .mobile-menu__slide-body
            .mobile-menu__dropdown.dropdown-modal
              button.mobile-menu__back-button.dropdown-modal__button.js-catalog-prev-slide(type="button")
                +icon-multi('arrow-up-black')
                span
                  | образы

            .mobile-menu__dropdown.dropdown-modal
              a.dropdown-modal__button.footer-menu__button.mobile-menu__link(href="#")
                span
                  | смотреть все
                +icon-multi('arrow-up-black')

            .mobile-menu__dropdown.dropdown-modal
              a.dropdown-modal__button.footer-menu__button.mobile-menu__link(href="#")
                span
                  | футболки
                +icon-multi('arrow-up-black')

            .mobile-menu__dropdown.dropdown-modal
              a.dropdown-modal__button.footer-menu__button.mobile-menu__link(href="#")
                span
                  | рубашки
                +icon-multi('arrow-up-black')
            .mobile-menu__dropdown.dropdown-modal
              a.dropdown-modal__button.footer-menu__button.mobile-menu__link(href="#")
                span
                  | толстовки
                +icon-multi('arrow-up-black')
            .mobile-menu__dropdown.dropdown-modal
              a.dropdown-modal__button.footer-menu__button.mobile-menu__link(href="#")
                span
                  | юбки
                +icon-multi('arrow-up-black')
            .mobile-menu__dropdown.dropdown-modal
              a.dropdown-modal__button.footer-menu__button.mobile-menu__link(href="#")
                span
                  | рубашки
                +icon-multi('arrow-up-black')
            .mobile-menu__dropdown.dropdown-modal
              a.dropdown-modal__button.footer-menu__button.mobile-menu__link(href="#")
                span
                  | трикотаж
                +icon-multi('arrow-up-black')



    .mobile-menu__footer
      .mobile-menu__user
        button.login-btn.login-btn--not-auth Войти в профиль
        button.login-btn.login-btn--is-auth Анастасия Смирнова

      .mobile-menu__contacts
        a.phone-link.phone-link--dark(href="tel:8 800 999-44-44")
          | 8 800 999-44-44
        a.email-link.email-link--dark(href="mailto:pr@retrova.com")
          | pr@retrova.com
        a.contacts-link.contacts-link--dark(href="#")
          +icon-multi('link-arrow-prime')
          span.contacts-link__text
            | все контакты
          +icon-multi('link-arrow-clean-prime')

        .mobile-menu__socials.socials
            ul.socials__list
              each svg in socialsSvgs
                li.socials__item
                  a.socials__link.social-link.social-link--dark(href="#")
                    +icon-mono(svg)

        .mobile-menu__bank-links
          a.bank-link(href="#")
            object(data="./assets/images/tff-dark.svg" width="67" height="14")
          a.bank-link(href="#")
            object(data="./assets/images/halva-dark.svg" width="67" height="15")
