.popup-cart
  .popup-cart__body
    .popup-cart__image
      +imgLazy('assets/images/products/pic-91.jpg', 'retrova product image')
    .popup-cart__info
      .popup-cart__heading
        span.popup-cart__title добавлено в корзину
        +icon-mono('cart')
      .popup-cart__desc
        span.popup-cart__name Брюки джинсовые широкие белые
        .popup-cart__params
          span.popup-cart__params-size
            | XS
          span.popup-cart__devider
            | /
          span.popup-cart__params-size
            | белый
