header.simple-header
  .site-container
    a.simple-header__back(href="#")
      +icon-multi('back-primary')

    a.logo(href="/")
      +icon-mono('logo')

    button.modal-search__close.simple-header__close(type="button")
      +icon-mono('close-big')
