-
  var categories = [
    {text: "все товары", link: "#", class: "category-tabs__tab--main"},
    {text: "платья", link: "#", class: ""},
    {text: "Костюмы", link: "#", class: ""},
    {text: "трикотаж", link: "#", class: ""},
    {text: "пиджаки и жакеты", link: "#", class: ""},
    {text: "футболки", link: "#", class: ""},
    {text: "трикотаж", link: "#", class: ""},
    {text: "футболки", link: "#", class: ""},
    {text: "трикотаж", link: "#", class: ""},
    {text: "пиджаки и жакеты", link: "#", class: ""},
    {text: "трикотаж", link: "#", class: ""},
    {text: "футболки", link: "#", class: ""},
    {text: "пиджаки и жакеты", link: "#", class: ""},
    {text: "ещё +12", link: "#", class: "category-tabs__tab--all"}
  ]

section.section.catalog-layout.catalog
  .site-container
    .catalog-layout__head
      .catalog-layout__title
        h1
          | все товары
        span.catalog-layout__counter
          | 213

      .catalog-layout__subrow.category-tabs
        ul.category-tabs__list
          li.category-tabs__item
            a.category-tabs__tab

    .catalog-layout__body
