-
  var catalogItemList = [
    {
      id: 1,
      name: 'Джинсовая куртка',
      actualPrice: '25 000₽',
      oldPrice: '35 000₽',
      dataArticle: 'product-1',
      images: [
        {
          path: 'products/pic-2.jpg',
          dataImage: 1,
          class: 'product-card__picture--active',
        },
        {
          path: 'products/pic-3.jpg',
          dataImage: 2,
          class: '',
        },
        {
          path: 'products/pic-7.jpg',
          dataImage: 3,
          class: '',
        },
      ]
    },
    {
      id: 2,
      name: 'рубашка белая',
      actualPrice: '25 000₽',
      oldPrice: '35 000₽',
      dataArticle: 'product-2',
      images: [
        {
          path: 'products/pic-1.jpg',
          dataImage: 1,
          class: 'product-card__picture--active',
        },
        {
          path: 'products/pic-4.jpg',
          dataImage: 2,
          class: '',
        },
        {
          path: 'products/pic-5.jpg',
          dataImage: 3,
          class: '',
        },
      ]
    },
  ]

section.catalog-layout.catalog
  .catalog-layout__head
    .site-container
      .catalog-layout__title
        h1
          | брюки
          span.catalog-layout__counter
            | 56

      .catalog-layout__subrow
        .catalog-layout__text
          | Рефлексия прекрасно вызывает комплекс. Поведенческая
          | терапия, иcходя из того, что просветляет филосовский
          | код. Как отмечает Д. Майерс, у нас есть некоторое
          | чувство конфликта, которое возни

  .catalog-layout__body
    .catalog-layout__sticky-control
      .site-container
        include ./catalog-control.pug

    .catalog-layout__list-wrapper
      .site-container
        ul.catalog-layout__list.catalog-layout__list--wrap-three
          for item in catalogItemList
            li.catalog-layout__item
              +Product-card-main(item.dataArticle, item.images)

        span.blog__loading
