@font-face {
  font-weight: 300;
  font-family: Manrope;
  font-style: normal;
  font-display: swap;
  src:
    local("Manrope"),
    local("Manrope-Light"),
    url("../fonts/Manrope-Light.woff2") format("woff2")
}

@font-face {
  font-weight: 400;
  font-family: Manrope;
  font-style: normal;
  font-display: swap;
  src:
    local("Manrope"),
    local("Manrope-Regular"),
    url("../fonts/Manrope-Regular.woff2") format("woff2")
}

@font-face {
  font-weight: 500;
  font-family: Manrope;
  font-style: normal;
  font-display: swap;
  src:
    local("Manrope"),
    local("Manrope-Medium"),
    url("../fonts/Manrope-Medium.woff2") format("woff2")
}

@font-face {
  font-weight: 600;
  font-family: Manrope;
  font-style: normal;
  font-display: swap;
  src:
    local("Manrope"),
    local("Manrope-SemiBold"),
    url("../fonts/Manrope-SemiBold.woff2") format("woff2")
}

@font-face {
  font-weight: 700;
  font-family: Manrope;
  font-style: normal;
  font-display: swap;
  src:
    local("Manrope"),
    local("Manrope-Bold"),
    url("../fonts/Manrope-Bold.woff2") format("woff2")
}

// @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&family=Open+Sans:wght@400;600;700;800&display=swap');
