@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}

@mixin visuallyHidden() {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

@mixin centeredAbsolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


@mixin customScrollbar {
  &::-webkit-scrollbar {
    width: 0.2rem;
    background-color: transparent
  }

  &::-webkit-scrollbar-thumb {
    background: var(--base-3, #191919);
  }

  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent
  }
}

@mixin noScrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar * {
    background: transparent;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    display: none;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

@mixin maxSizeText($size) {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: $size;
  -webkit-box-orient: vertical;
}

@mixin breakpoint($class) {
  @if $class == large-desktop {
      @media only screen and (max-width: (1680px)) {
          @content;
      }
  } @else if $class == desktop {
      @media only screen and (max-width: (1400px)) {
          @content;
      }
  } @else if $class == small-desktop {
      @media only screen and (max-width: (1280px)) {
          @content;
      }
  } @else if $class == laptop {
      @media only screen and (max-width: (1200px)) {
          @content;
      }
  } @else if $class == tablet {
      @media only screen and (max-width: (1024px)) {
          @content;
      }
  } @else if $class == portrait-tablet {
      @media only screen and (max-width: (991px)) {
          @content;
      }
  } @else if $class == small-tablet {
      @media only screen and (max-width: (768px)) {
          @content;
      }
  } @else if $class == mobile {
      @media only screen and (max-width: (640px)) {
          @content;
      }
  } @else if $class == small-mobile {
      @media only screen and (max-width: (576px)) {
          @content;
      }
  } @else if $class == supersmall-mobile {
      @media only screen and (max-width: (374px)) {
          @content;
      }
  }
}

@mixin breakpointMF($class) {
  @if $class == large-desktop {
      @media only screen and (min-width: 1401px) {
          @content;
      }
  } @else if $class == desktop {
      @media only screen and (min-width: 1201px) {
          @content;
      }
  } @else if $class == laptop {
      @media only screen and (min-width: 1025px) {
          @content;
      }
  } @else if $class == tablet {
      @media only screen and (min-width: 769px) {
          @content;
      }
  } @else if $class == small-tablet {
      @media only screen and (min-width: 641px) {
          @content;
      }
  } @else if $class == mobile {
      @media only screen and (min-width: 577px) {
          @content;
      }
  }
}

@mixin hover() {
  @media (hover: none) {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &:active {
      @content;
    }
  }

  @media (hover: hover), all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    &:hover {
      @content;
    }
  }
}

@mixin hover-none {
  @media all and (hover: none) {
    @content;
  }
}

@mixin is-hover {
  @media all and (hover: hover) {
    @content;
  }
}


@mixin svgBackground($svgUrl, $w, $h) {
  background-image: $svgUrl;
  background-position: center;
  background-repeat: no-repeat;
  background-size: $w $h;
}
