html {
  font-size: 10px;
  font-size: clamp(10px, 0.52vw, 25px);
  font-size: clamp(10px, 0.6vw, 25px);
  font-size: clamp(10px, 0.6vw, 25px);
  text-transform: uppercase;

  @include breakpoint(tablet) {
    font-size: 10px;
  }
}

body {
  font: var(--font-Text-T4-lg1);
  color: var(--base-3);
}


.site-container {
  width: 100%;
  max-width: calc(var(--max-container-width) + 2 * var(--content-padding));
  margin: 0 auto;
  padding: 0 var(--content-padding);
  @supports (width: max(20vw, 100px)) {
      padding-left: max(env(safe-area-inset-left, 1.4rem), var(--content-padding));
      padding-right: max(env(safe-area-inset-right, 1.4rem), var(--content-padding));
  }
}
