/* stylelint-disable order/properties-order */
/* stylelint-disable property-no-vendor-prefix */
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

ul,
ol {
  list-style: none;
}

ol {
  counter-reset: ordered-list;

  & > li {
    counter-increment: ordered-list;

    &::before {
      content: counter(ordered-list, decimal-leading-zero) ".";
    }
  }
}

textarea {
  display: block;
  width: 100%;
  height: 20rem;
  overflow: auto;
  box-shadow: none;
  resize: none;

  @include customScrollbar();
}

input,
textarea {
  display: block;
  width: 100%;
  font: inherit;
  background-color: transparent;
  border: none;
  border-radius: 0;
  outline: none;
  box-shadow: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: transparent;
}

input:not([type="checkbox"]):not([type="radio"]) {
  appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="search"] {
  /* 1 */
  outline-offset: -2px;

  /* 2 */
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
  -webkit-appearance: none;
}

button {
  position: relative;
  display: inline-flex;
  margin: 0;
  padding: 0;
  color: inherit;
  font: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: color 0.2s;
  user-select: none;
  -webkit-appearance: none;
}

a {
  background-color: transparent;
  text-decoration: none;
  transition: color 0.2s;
  color: inherit;
  outline: none;
}

svg {
  flex-shrink: 0;
  display: block;
  user-select: none;
  fill: currentcolor;
  transition: fill 0.2s;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  user-select: none;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.list-rest {
  padding: 0;
  margin: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  clip-path: inset(100%);
}

.site-container {
  width: 100%;
  max-width: 1550px;
  margin: 0 auto;
  padding: 0 15px;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.page-main {
  flex-grow: 1;
}

.section {
  margin-bottom: 16rem;
}

.disable-scroll {
  overflow: hidden;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

button:focus {
  outline: none;

  &.focus-visible {
    outline: 1px solid red;
  }
}

a:focus {
  outline: none;

  &.focus-visible {
    outline: 1px solid red;
  }
}

.js-focus-visible button:focus:not(.focus-visible),
.js-focus-visible a:focus:not(.focus-visible) {
  outline: none;
}
