/* stylelint-disable order/properties-order */
/* stylelint-disable property-no-vendor-prefix */
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior:smooth;
}

ul,
ol {
  list-style: none;
}

ol {
  counter-reset: ordered-list;

  & > li {
    counter-increment: ordered-list;

    &::before {
      content: counter(ordered-list, decimal-leading-zero) ".";
    }
  }
}

textarea {
  display: block;
  width: 100%;
  height: 20rem;
  overflow: auto;
  box-shadow: none;
  resize: none;

  @include customScrollbar();
}

input,
textarea {
  display: block;
  width: 100%;
  font: inherit;
  letter-spacing: inherit;
  background-color: transparent;
  border: none;
  border-radius: 0;
  outline: none;
  box-shadow: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: transparent;
}

input:not([type="checkbox"]):not([type="radio"]) {
  appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="search"] {
  /* 1 */
  outline-offset: -2px;

  /* 2 */
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
  -webkit-appearance: none;
}

button {
  position: relative;
  display: inline-flex;
  margin: 0;
  padding: 0;
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
  text-shadow: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: color 0.2s;
  user-select: none;
  -webkit-appearance: none;
}

a {
  color: inherit;
  letter-spacing: inherit;
  text-decoration: none;
  transition: color 0.2s;
  background-color: transparent;
  outline: none;
}

svg {
  flex-shrink: 0;
  display: block;
  user-select: none;
  fill: currentcolor;
  transition: fill 0.2s;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  user-select: none;
}


.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.list-rest {
  padding: 0;
  margin: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  clip-path: inset(100%);
}


.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  &--mask {
    position: relative;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 50;

      background-color: rgba($color: #000, $alpha: 50%);
      content: "";
    }
  }
}

.page-main {
  flex-grow: 1;
}

.section {
  overflow: hidden;
  margin-bottom: 16rem;

  @include breakpoint(portrait-tablet) {
    margin-bottom: 9rem;
  }
}

.disable-scroll {
  overflow: hidden;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

body{
  &.menu-is-open {
    overflow: hidden;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;

    .popup-location {
      display: none;
    }
  }
}

button:focus {
  outline: none;

  &.focus-visible {
    outline: 1px solid red;
  }
}

a:focus {
  outline: none;

  &.focus-visible {
    outline: 1px solid red;
  }
}

.js-focus-visible button:focus:not(.focus-visible),
.js-focus-visible a:focus:not(.focus-visible) {
  outline: none;
}

.swiper-slide-link {
  display: none !important;
  align-items: center;
  justify-content: center;

  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  padding-bottom: 5rem;

  @include breakpoint(tablet) {
    display: flex !important;
  }
}

.s-navigation {
  &__title {
    padding: 2rem 0;
    color: var(--base-2, #8c8c8c);
    font: var(--font-Heading-H3);
  }

  &__item {
    margin-bottom: 1rem;
  }

  &__link {
    display: block;
    padding: 1rem 0;

    font: var(--font-Text-T3-med1);
    letter-spacing: 0.02em;

    &:hover {
      color: var(--system-red, #b72d0e);
      text-decoration: underline;
    }
  }
}
