.ready-delivery {
  display: flex;
  flex-direction: column;

  &__name {
    display: block;
    margin-bottom: 0.8rem;
    font: var(--font-Text-T5-med1);
  }

  &__address {
    display: block;
    margin-bottom: 1.2rem;
    font: var(--font-Text-T5-lg1);
    text-transform: initial;
  }

  &__date {
    display: block;
    color: var(--system-green, #12741c);
    font: var(--font-Text-T5-reg1);
    text-transform: initial;
  }
}
