.certificates-page {
  &__list {
    display: flex;
    align-items: stretch;
    flex-flow: row wrap;
    gap: 1.6rem;

    @include breakpoint(small-tablet) {
      flex-flow: column nowrap;
      align-items: center;
      gap: 2.5rem;
    }
  }

  &__item {
    width: calc(100% / 4 - 1.2rem);

    @include breakpoint( small-desktop) {
      width: calc(100% / 2 - 0.8rem);
    }

    @include breakpoint(small-tablet) {
      width: 80%;
    }

    @include breakpoint(small-mobile) {
      width: 100%;
    }
  }

  &__button {
    display: block;
  }

  &__picture {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    aspect-ratio: 1 / 1.1;
    background-color: #F8F8F8;

    img {
      @include centeredAbsolute();
      z-index: 1;

      width: 80%;
      display: block;
      object-fit: cover;
      object-position: center;
    }

    @include breakpoint( small-desktop) {
      aspect-ratio: 0.98 / 1;
    }
  }

  &__text {
    display: block;
    margin-top: 12px;

    color: var(--base-3, #191919);
    font: var(--font-Text-T4-semi1);
    letter-spacing: 0.28px;
    text-transform: uppercase;
  }
}
