.about-section {
  &__head {
    display: flex;
    align-items: flex-start;
    column-gap: 2rem;

    margin-bottom: 10rem;

    @include breakpoint(small-desktop) {
      column-gap: 2rem;
    }

    @include breakpoint(laptop) {
      flex-direction: column;
      align-items: stretch;
      column-gap: unset;
      margin-bottom: 5rem;
    }

    @include breakpoint(small-tablet) {
      margin-bottom: 35px;
    }
  }

  &__sticker {
    flex: 0 1 43.2rem;
    justify-content: flex-start;
    margin-top: 5px;


    &.sticker {
      column-gap: 1.2rem;

      span {
        font: var(--font-Text-T5-semi1);
        letter-spacing: 0.84px;
      }

      &--new {
        padding: 0;
      }
    }

    @include breakpoint(laptop) {
      margin-bottom: 18px;
      flex: 1 1 auto;
    }
  }

  &__title  {
    flex: 0 1 51.2rem;
    margin-right: auto;

    font: var(--font-Heading-H2);
    letter-spacing: 0.88px;

    @include breakpoint(laptop) {
      flex: 1 1 auto;
      max-width: 100%;
      margin-bottom: 20px;
    }
  }

  &__texts {
    flex: 0 1 29%;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    p {
      margin-bottom: 15px;

      font: var(--font-Text-T5-lg1);
      letter-spacing: 0.28px;
      text-transform: initial;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @include breakpoint(laptop) {
      max-width: 100%;
    }
  }

  &__first-block {
    padding-top: 10%;
  }

  &__year {
    width: 100%;
    position: relative;

    h1 {
      @include centeredAbsolute();
      z-index: 1;

      width: 100%;
      display: block;
      align-content: center;
      justify-content: center;
    }

    span {
      display: block;
      color: var(--base-3, #191919);
      font-size: clamp(10rem, -7.1391rem + 38.942vw, 54rem);
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      letter-spacing: 10.8px;
      text-align: center;
    }
  }

  &__image-block {
    position: relative;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 2 / 1;

    &.seasons-look__cover {
      aspect-ratio: 2 / 1;
      max-width: unset;

      @include breakpoint(portrait-tablet) {
        aspect-ratio: 1.6 / 1;
      }

      @include breakpoint(small-desktop) {
        margin-bottom: unset;
      }
    }

    .seasons-look__logo {
      @include breakpoint(portrait-tablet) {
        width: 143px;
        height: 25px;
      }
    }

    @include breakpoint(portrait-tablet) {
      aspect-ratio: 1.6 / 1;
    }
  }

  &__picture {
    width: 100%;
    height: 100%;

    img {
      display: block;
      width: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__swiper {
    &.swiper {
      @include breakpoint(small-tablet) {
        width: auto;
        margin: 0 -4rem;
        padding: 0 4rem 0 2rem;
      }

    }

    .swiper-wrapper {
      @include breakpoint(small-tablet) {
        padding-left: 2rem;
      }
    }

    .swiper-slide {
      @include breakpoint(small-tablet) {
        height: 195px;

        img {
          display: block;
          width: 100%;
          min-height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }

  &__swiper-slide {
    img {
      display: block;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__swiper-control {
    position: absolute;
    left: 3rem;
    bottom: 3rem;
    z-index: 10;

    display: flex;
    align-items: stretch;

    min-width: 40.2rem;

    border-radius: 4px;
    background-color: #FFF;

    @include breakpoint(portrait-tablet) {
      overflow: initial;
      position: static;
    }
  }

  &__info-slider {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 16px;
  }

  &__info-title {
    margin-bottom: 6px;
    color: var(--base-3, #191919);
    font: var(--font-Text-T4-semi1);
    letter-spacing: 0.32px;
    text-transform: uppercase;
  }

  &__info-date {
    overflow: 0.7;
  }

  &__swiper-buttons {
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding: 0 23px;

    border-width:  0 0 0 1px;
    border-style: solid;
    border-color: rgba($color: #191919, $alpha: 0.2);

    @include breakpoint(portrait-tablet) {
      @include visuallyHidden();
    }
  }

  &__swiper-button {
    &.slider__button {
      position: static;
      width: 20px;
      height: 20px;
      transform: unset;
    }
  }

  &__third-block {
    .about-section__image-block {
      @include breakpoint(portrait-tablet) {
        overflow: initial;
      }
    }
  }
}
