.account-notifications
  ul.account-notifications__list
    li.account-notifications__item
      article.notifications-item(data-notification="", id="")
        span.notifications-item__icon

        .notifications-item__right

          span.notifications-item__text
            | Зачисление бонусов за покупку: +67
          a.notifications-item__link(href="#")
            | Перейти в личный кабинет
    li.account-notifications__item
      article.notifications-item(data-notification="", id="")
        span.notifications-item__icon

        .notifications-item__right

          span.notifications-item__text
            | Товар из вашего вишлиста со скидкой!
          a.notifications-item__link(href="#")
            | Перейти в каталог
    li.account-notifications__item
      article.notifications-item.notifications-item--read(data-notification="", id="")
        span.notifications-item__icon

        .notifications-item__right

          span.notifications-item__text
            | Зачисление бонусов за покупку: +67
          a.notifications-item__link(href="#")
            | Перейти в личный кабинет
    li.account-notifications__item
      article.notifications-item.notifications-item--read(data-notification="", id="")
        span.notifications-item__icon

        .notifications-item__right

          span.notifications-item__text
            | Товар из вашего вишлиста со скидкой!
          a.notifications-item__link(href="#")
            | Перейти в каталог
