.account-certificates
  //- .account-certificates__body.account-certificates__body--empty
  .account-certificates__body
    .account-certificates__no-certificates
      h5 у вас пока нет подарочных сертификатов

      .account-certificates__buttons
        button.save-panel__save-btn.large-btn(type="button", data-path="modal-cert-activate")
          span.large-btn__text
            | активировать сертификат
          span.large-btn__loader
            +icon-mono('loader')

        button.save-panel__save-btn.large-btn.large-btn--outline(type="button", data-path="modal-cert-gift")
          span.large-btn__text
            | подарить сертификат
          span.large-btn__loader
            +icon-mono('loader')



    .account-certificates__certificates
      ul.account-certificates__list.account-promocodes__list
        li.account-promocodes__item
          a.account-promocodes__card.card-promocode(href="#")
            .card-promocode__main
              span.card-promocode__text Сертификат на 5000₽
              .card-promocode__copy-link
                | promo5000

            .card-promocode__footer
              span.card-promocode__valid-title действует:&nbsp;
              span.card-promocode__valid-until бессрочно


            span.card-promocode__icon
              +icon-mono('star')

            span.card-promocode__copy-icon

      .account-certificates__buttons
        button.save-panel__save-btn.large-btn(type="button", data-path="modal-cert-activate")
          span.large-btn__text
            | активировать сертификат
          span.large-btn__loader
            +icon-mono('loader')

        button.save-panel__save-btn.large-btn.large-btn--outline(type="button", data-path="modal-cert-gift")
          span.large-btn__text
            | подарить сертификат
          span.large-btn__loader
            +icon-mono('loader')


    .account-promocodes__dropdowns.account-certificates__dropdowns
      .modal-filters__dropdowns
        .modal-filters__dropdown.dropdown-modal
          button.dropdown-modal__button.footer-menu__button(type="button")
            span
              | как получить промокод у нас в магазине?
            +icon-multi('arrow-up-black')

          ul.footer-menu__list.dropdown-modal__list
            li.dropdown-modal__text
              strong Сервис «Долями»
              | &nbsp;помогает вам разделить сумму покупки на четыре
              | равных платежа — без комиссии и  дополнительных плат. Покупку
              | получите сразу после оплаты первой части. Выберите «Долями»
              | как способ оплаты на сайте, и сумма заказа разделится на четыре
              | части: — первую вы оплатите при оформлении заказа — это 25%
              | от всей суммы; — оставшиеся три будут списываться с вашей
              | карты автоматически, с интервалом в две недели. Перед каждым
              | платежом пришлем вам напоминание о дате списания.

        .modal-filters__dropdown.dropdown-modal
          button.dropdown-modal__button.footer-menu__button(type="button")
            span
              | Как использовать промокод
            +icon-multi('arrow-up-black')

          ul.footer-menu__list.dropdown-modal__list
            li.dropdown-modal__text
              strong Сервис «Долями»
              | &nbsp;помогает вам разделить сумму покупки на четыре
              | равных платежа — без комиссии и  дополнительных плат. Покупку
              | получите сразу после оплаты первой части. Выберите «Долями»
              | как способ оплаты на сайте, и сумма заказа разделится на четыре
              | части: — первую вы оплатите при оформлении заказа — это 25%
              | от всей суммы; — оставшиеся три будут списываться с вашей
              | карты автоматически, с интервалом в две недели. Перед каждым
              | платежом пришлем вам напоминание о дате списания.

        .modal-filters__dropdown.dropdown-modal
          button.dropdown-modal__button.footer-menu__button(type="button")
            span
              | через сколько можно использовать бонусы
            +icon-multi('arrow-up-black')

          ul.footer-menu__list.dropdown-modal__list
            li.dropdown-modal__text
              strong Сервис «Долями»
              | &nbsp;помогает вам разделить сумму покупки на четыре
              | равных платежа — без комиссии и  дополнительных плат. Покупку
              | получите сразу после оплаты первой части. Выберите «Долями»
              | как способ оплаты на сайте, и сумма заказа разделится на четыре
              | части: — первую вы оплатите при оформлении заказа — это 25%
              | от всей суммы; — оставшиеся три будут списываться с вашей
              | карты автоматически, с интервалом в две недели. Перед каждым
              | платежом пришлем вам напоминание о дате списания.

        .modal-filters__dropdown.dropdown-modal
          button.dropdown-modal__button.footer-menu__button(type="button")
            span
              | какую сумму можно оплатить бонусами
            +icon-multi('arrow-up-black')

          ul.footer-menu__list.dropdown-modal__list
            li.dropdown-modal__text
              strong Сервис «Долями»
              | &nbsp;помогает вам разделить сумму покупки на четыре
              | равных платежа — без комиссии и  дополнительных плат. Покупку
              | получите сразу после оплаты первой части. Выберите «Долями»
              | как способ оплаты на сайте, и сумма заказа разделится на четыре
              | части: — первую вы оплатите при оформлении заказа — это 25%
              | от всей суммы; — оставшиеся три будут списываться с вашей
              | карты автоматически, с интервалом в две недели. Перед каждым
              | платежом пришлем вам напоминание о дате списания.

        .modal-filters__dropdown.dropdown-modal
          button.dropdown-modal__button.footer-menu__button(type="button")
            span
              | какие покупки не дают бонусыак повысить статус карты
            +icon-multi('arrow-up-black')

          ul.footer-menu__list.dropdown-modal__list
            li.dropdown-modal__text
              strong Сервис «Долями»
              | &nbsp;помогает вам разделить сумму покупки на четыре
              | равных платежа — без комиссии и  дополнительных плат. Покупку
              | получите сразу после оплаты первой части. Выберите «Долями»
              | как способ оплаты на сайте, и сумма заказа разделится на четыре
              | части: — первую вы оплатите при оформлении заказа — это 25%
              | от всей суммы; — оставшиеся три будут списываться с вашей
              | карты автоматически, с интервалом в две недели. Перед каждым
              | платежом пришлем вам напоминание о дате списания.
