.account-order
  .account-order__head
    a.account-order__link.contacts-link.contacts-link--dark(href="#")
      +icon-multi('link-arrow-prime')
      span.contacts-link__text
        | Вернуться к истории заказов
      +icon-multi('link-arrow-clean-prime')

  .account-order__head
