.account-bonuses
  //- .account-bonuses__body.account-bonuses__body--with-status
  .account-bonuses__body
    .account-bonuses__with-status
      .account-bonuses__top
        .account-bonuses__card.bonuses-card
          .bonuses-card__content
            .bonuses-card__main
              span.bonuses-card__title ваш статус:
              .bonuses-card__status
                h2.bonuses-card__status-name classic&nbsp;
                h2.bonuses-card__status-value 3%

              .bonuses-card__range
                .bonuses-card__range-line
                  span.bonuses-card__range-progress(data-range="75")

                .bonuses-card__stages
                  .bonuses-card__stage-spent
                    span потрачено:&nbsp;
                    span.bonuses-card__spent-value 75 000₽

                  .bonuses-card__stage-threshold
                    span до&nbsp;скидки&nbsp;
                    span.bonuses-card__threshold-percent 5%
                    span :&nbsp;
                    span.bonuses-card__threshold-value 35 000₽

            .bonuses-card__footer
              span.bonuses-card__icon
              span.bonuses-card__text бонусов за покупки:
              span.bonuses-card__value 456

        .account-bonuses__link
          a.contacts-link.contacts-link--dark(href="#")
            +icon-multi('link-arrow-prime')
            span.contacts-link__text.contacts-link__text--no-mobile
              | Читать
            span.contacts-link__text
              | &nbsp;условия программы лояльности
            +icon-multi('link-arrow-clean-prime')

      .account-bonuses__bottom
        .modal-filters__dropdowns
          .modal-filters__dropdown.dropdown-modal
            button.dropdown-modal__button.footer-menu__button(type="button")
              span
                | как получить скидку у вас в магазине?
              +icon-multi('arrow-up-black')

            ul.footer-menu__list.dropdown-modal__list
              li.dropdown-modal__text
                strong Сервис «Долями»
                | &nbsp;помогает вам разделить сумму покупки на четыре
                | равных платежа — без комиссии и  дополнительных плат. Покупку
                | получите сразу после оплаты первой части. Выберите «Долями»
                | как способ оплаты на сайте, и сумма заказа разделится на четыре
                | части: — первую вы оплатите при оформлении заказа — это 25%
                | от всей суммы; — оставшиеся три будут списываться с вашей
                | карты автоматически, с интервалом в две недели. Перед каждым
                | платежом пришлем вам напоминание о дате списания.

          .modal-filters__dropdown.dropdown-modal
            button.dropdown-modal__button.footer-menu__button(type="button")
              span
                | как получить скидку у вас в магазине?
              +icon-multi('arrow-up-black')

            ul.footer-menu__list.dropdown-modal__list
              li.dropdown-modal__text
                strong Сервис «Долями»
                | &nbsp;помогает вам разделить сумму покупки на четыре
                | равных платежа — без комиссии и  дополнительных плат. Покупку
                | получите сразу после оплаты первой части. Выберите «Долями»
                | как способ оплаты на сайте, и сумма заказа разделится на четыре
                | части: — первую вы оплатите при оформлении заказа — это 25%
                | от всей суммы; — оставшиеся три будут списываться с вашей
                | карты автоматически, с интервалом в две недели. Перед каждым
                | платежом пришлем вам напоминание о дате списания.

          .modal-filters__dropdown.dropdown-modal
            button.dropdown-modal__button.footer-menu__button(type="button")
              span
                | через сколько можно использовать бонусы
              +icon-multi('arrow-up-black')

            ul.footer-menu__list.dropdown-modal__list
              li.dropdown-modal__text
                strong Сервис «Долями»
                | &nbsp;помогает вам разделить сумму покупки на четыре
                | равных платежа — без комиссии и  дополнительных плат. Покупку
                | получите сразу после оплаты первой части. Выберите «Долями»
                | как способ оплаты на сайте, и сумма заказа разделится на четыре
                | части: — первую вы оплатите при оформлении заказа — это 25%
                | от всей суммы; — оставшиеся три будут списываться с вашей
                | карты автоматически, с интервалом в две недели. Перед каждым
                | платежом пришлем вам напоминание о дате списания.

          .modal-filters__dropdown.dropdown-modal
            button.dropdown-modal__button.footer-menu__button(type="button")
              span
                | какую сумму можно оплатить бонусами
              +icon-multi('arrow-up-black')

            ul.footer-menu__list.dropdown-modal__list
              li.dropdown-modal__text
                strong Сервис «Долями»
                | &nbsp;помогает вам разделить сумму покупки на четыре
                | равных платежа — без комиссии и  дополнительных плат. Покупку
                | получите сразу после оплаты первой части. Выберите «Долями»
                | как способ оплаты на сайте, и сумма заказа разделится на четыре
                | части: — первую вы оплатите при оформлении заказа — это 25%
                | от всей суммы; — оставшиеся три будут списываться с вашей
                | карты автоматически, с интервалом в две недели. Перед каждым
                | платежом пришлем вам напоминание о дате списания.

          .modal-filters__dropdown.dropdown-modal
            button.dropdown-modal__button.footer-menu__button(type="button")
              span
                | как повысить статус карты
              +icon-multi('arrow-up-black')

            ul.footer-menu__list.dropdown-modal__list
              li.dropdown-modal__text
                strong Сервис «Долями»
                | &nbsp;помогает вам разделить сумму покупки на четыре
                | равных платежа — без комиссии и  дополнительных плат. Покупку
                | получите сразу после оплаты первой части. Выберите «Долями»
                | как способ оплаты на сайте, и сумма заказа разделится на четыре
                | части: — первую вы оплатите при оформлении заказа — это 25%
                | от всей суммы; — оставшиеся три будут списываться с вашей
                | карты автоматически, с интервалом в две недели. Перед каждым
                | платежом пришлем вам напоминание о дате списания.

          .modal-filters__dropdown.dropdown-modal
            button.dropdown-modal__button.footer-menu__button(type="button")
              span
                | какие покупки не дают бонусыак повысить статус карты
              +icon-multi('arrow-up-black')

            ul.footer-menu__list.dropdown-modal__list
              li.dropdown-modal__text
                strong Сервис «Долями»
                | &nbsp;помогает вам разделить сумму покупки на четыре
                | равных платежа — без комиссии и  дополнительных плат. Покупку
                | получите сразу после оплаты первой части. Выберите «Долями»
                | как способ оплаты на сайте, и сумма заказа разделится на четыре
                | части: — первую вы оплатите при оформлении заказа — это 25%
                | от всей суммы; — оставшиеся три будут списываться с вашей
                | карты автоматически, с интервалом в две недели. Перед каждым
                | платежом пришлем вам напоминание о дате списания.

    .account-bonuses__no-status
      .account-bonuses__top
        .account-bonuses__card.bonuses-card
          .bonuses-card__content
            .bonuses-card__main
              span.bonuses-card__title ваш статус:
              .bonuses-card__status
                h2.bonuses-card__status-name гостевой&nbsp;
                h2.bonuses-card__status-value 0%

              .bonuses-card__range
                .bonuses-card__range-line
                  span.bonuses-card__range-progress(data-range="75")

                .bonuses-card__stages
                  .bonuses-card__stage-spent
                    span потрачено:&nbsp;
                    span.bonuses-card__spent-value 75 000₽

                  .bonuses-card__stage-threshold
                    span до&nbsp;скидки&nbsp;
                    span.bonuses-card__threshold-percent 5%
                    span :&nbsp;
                    span.bonuses-card__threshold-value 35 000₽

                span.bonuses-card__stub совершите любую покупку для получения скидки 1%

            .bonuses-card__footer
              span.bonuses-card__icon
              span.bonuses-card__text бонусов за покупки:
              span.bonuses-card__value 0

        .account-bonuses__link
          a.contacts-link.contacts-link--dark(href="#")
            +icon-multi('link-arrow-prime')
            span.contacts-link__text.contacts-link__text--no-mobile
              | Читать
            span.contacts-link__text
              | &nbsp;условия программы лояльности
            +icon-multi('link-arrow-clean-prime')

      .account-bonuses__bottom
        .modal-filters__dropdowns
          .modal-filters__dropdown.dropdown-modal
            button.dropdown-modal__button.footer-menu__button(type="button")
              span
                | как получить скидку у вас в магазине?
              +icon-multi('arrow-up-black')

            ul.footer-menu__list.dropdown-modal__list
              li.dropdown-modal__text
                strong Сервис «Долями»
                | &nbsp;помогает вам разделить сумму покупки на четыре
                | равных платежа — без комиссии и  дополнительных плат. Покупку
                | получите сразу после оплаты первой части. Выберите «Долями»
                | как способ оплаты на сайте, и сумма заказа разделится на четыре
                | части: — первую вы оплатите при оформлении заказа — это 25%
                | от всей суммы; — оставшиеся три будут списываться с вашей
                | карты автоматически, с интервалом в две недели. Перед каждым
                | платежом пришлем вам напоминание о дате списания.

          .modal-filters__dropdown.dropdown-modal
            button.dropdown-modal__button.footer-menu__button(type="button")
              span
                | как получить скидку у вас в магазине?
              +icon-multi('arrow-up-black')

            ul.footer-menu__list.dropdown-modal__list
              li.dropdown-modal__text
                strong Сервис «Долями»
                | &nbsp;помогает вам разделить сумму покупки на четыре
                | равных платежа — без комиссии и  дополнительных плат. Покупку
                | получите сразу после оплаты первой части. Выберите «Долями»
                | как способ оплаты на сайте, и сумма заказа разделится на четыре
                | части: — первую вы оплатите при оформлении заказа — это 25%
                | от всей суммы; — оставшиеся три будут списываться с вашей
                | карты автоматически, с интервалом в две недели. Перед каждым
                | платежом пришлем вам напоминание о дате списания.

          .modal-filters__dropdown.dropdown-modal
            button.dropdown-modal__button.footer-menu__button(type="button")
              span
                | через сколько можно использовать бонусы
              +icon-multi('arrow-up-black')

            ul.footer-menu__list.dropdown-modal__list
              li.dropdown-modal__text
                strong Сервис «Долями»
                | &nbsp;помогает вам разделить сумму покупки на четыре
                | равных платежа — без комиссии и  дополнительных плат. Покупку
                | получите сразу после оплаты первой части. Выберите «Долями»
                | как способ оплаты на сайте, и сумма заказа разделится на четыре
                | части: — первую вы оплатите при оформлении заказа — это 25%
                | от всей суммы; — оставшиеся три будут списываться с вашей
                | карты автоматически, с интервалом в две недели. Перед каждым
                | платежом пришлем вам напоминание о дате списания.

          .modal-filters__dropdown.dropdown-modal
            button.dropdown-modal__button.footer-menu__button(type="button")
              span
                | какую сумму можно оплатить бонусами
              +icon-multi('arrow-up-black')

            ul.footer-menu__list.dropdown-modal__list
              li.dropdown-modal__text
                strong Сервис «Долями»
                | &nbsp;помогает вам разделить сумму покупки на четыре
                | равных платежа — без комиссии и  дополнительных плат. Покупку
                | получите сразу после оплаты первой части. Выберите «Долями»
                | как способ оплаты на сайте, и сумма заказа разделится на четыре
                | части: — первую вы оплатите при оформлении заказа — это 25%
                | от всей суммы; — оставшиеся три будут списываться с вашей
                | карты автоматически, с интервалом в две недели. Перед каждым
                | платежом пришлем вам напоминание о дате списания.

          .modal-filters__dropdown.dropdown-modal
            button.dropdown-modal__button.footer-menu__button(type="button")
              span
                | как повысить статус карты
              +icon-multi('arrow-up-black')

            ul.footer-menu__list.dropdown-modal__list
              li.dropdown-modal__text
                strong Сервис «Долями»
                | &nbsp;помогает вам разделить сумму покупки на четыре
                | равных платежа — без комиссии и  дополнительных плат. Покупку
                | получите сразу после оплаты первой части. Выберите «Долями»
                | как способ оплаты на сайте, и сумма заказа разделится на четыре
                | части: — первую вы оплатите при оформлении заказа — это 25%
                | от всей суммы; — оставшиеся три будут списываться с вашей
                | карты автоматически, с интервалом в две недели. Перед каждым
                | платежом пришлем вам напоминание о дате списания.

          .modal-filters__dropdown.dropdown-modal
            button.dropdown-modal__button.footer-menu__button(type="button")
              span
                | какие покупки не дают бонусыак повысить статус карты
              +icon-multi('arrow-up-black')

            ul.footer-menu__list.dropdown-modal__list
              li.dropdown-modal__text
                strong Сервис «Долями»
                | &nbsp;помогает вам разделить сумму покупки на четыре
                | равных платежа — без комиссии и  дополнительных плат. Покупку
                | получите сразу после оплаты первой части. Выберите «Долями»
                | как способ оплаты на сайте, и сумма заказа разделится на четыре
                | части: — первую вы оплатите при оформлении заказа — это 25%
                | от всей суммы; — оставшиеся три будут списываться с вашей
                | карты автоматически, с интервалом в две недели. Перед каждым
                | платежом пришлем вам напоминание о дате списания.
