.account-layout
  .site-container
    .account-layout__body
      .account-layout__sidenav
        +Sidenav()

      .account-layout__content
        .account-layout__header
          h2.account-layout__title личные данные

          .account-layout__notifications
            .account-layout__notifications-text
              span уведомления
              i.account-layout__notifications-value 5

            +Switcher('notifications-switcher', 'notifications-switcher')
