form.account-form(action="" method="method")
  .account-form__body
    .account-form__block
      span.account-form__label личные данные

      .account-form__flex
        .account-form__input-wrapper
          +Input-required('user-name', 'user-name', 'Имя', 'Заполните имя', '')(class="js-processed-input", data-required)
        .account-form__input-wrapper
          +Input-required('user-surname', 'user-surname', 'Фамилия', 'Заполните фамилию', '')(class="js-processed-input", data-required)
        .account-form__input-wrapper
          +Input-required('user-phone', 'user-phone', 'Телефон', 'Укажите телефон', '')(class="js-processed-input", data-required)
        .account-form__input-wrapper
          +Input-required('user-email', 'user-email', 'Почта', 'Укажите электронную почту', '')(class="js-processed-input", data-required)
        .account-form__input-wrapper
          +Input-required('user-birthday', 'user-birthday', 'Дата рождения', 'Укажите дату рождения', '')(class="js-processed-input", data-required)

    .account-form__block
      span.account-form__label адрес доставки

      .account-form__delivery.account-form__delivery

        .account-form__setting-address

          .account-form__flex
            .account-form__input-wrapper
              +Input-required('address-city', 'address-city', 'город', 'Заполните поле', '')
            .account-form__input-wrapper
              +Input-required('address-street', 'address-street', 'улица', 'Заполните поле', '')
            .account-form__input-wrapper
              +Input-required('address-building', 'address-building', 'дом', 'Заполните поле', '')
            .account-form__input-wrapper
              +Input-required('address-flat', 'address-flat', 'квартира', 'Заполните поле', '')

          .account-form__map
            .account-form__yamaps.yamaps#yamapsAccount

        .account-form__filled-address
          h4 Санкт-Петербург, пр-кт Маршала Блюхера, д. 21, кв. 120, пзд. 3, эт. 4

          button.contacts-link.contacts-link--dark(type=button)
            +icon-multi('link-arrow-prime')
            span.contacts-link__text
              | изменить
            +icon-multi('link-arrow-clean-prime')

    include save-panel.pug
