.account-favorites
  .account-favorites__body.account-favorites__body--empty
    .account-favorites__no-favorites
      h5 у вас пока нет избранных товаров!

      a.save-panel__save-btn.large-btn(href="#")
        span.large-btn__text
          | перейти в каталог
        span.large-btn__loader
          +icon-mono('loader')

    .account-favorites__favorites
      ul.account-favorites__list
        li.account-favorites__item
          +Product-card(true)(class="account-favorites__product-card")

      span.blog__loading.visually-hidden
