.account-promocodes
  .account-promocodes__body.account-promocodes__body--exist
    .account-promocodes__exist
      ul.account-promocodes__list
        li.account-promocodes__item
          a.account-promocodes__card.card-promocode(href="#")
            .card-promocode__main
              span.card-promocode__text Скидка 20% на заказ от 15 000 ₽
              .card-promocode__copy-link
                | SALE20RETR

            .card-promocode__footer
              span.card-promocode__valid-title действует:&nbsp;
              span.card-promocode__valid-until бессрочно


            span.card-promocode__icon
              +icon-mono('star')

            span.card-promocode__copy-icon
        li.account-promocodes__item
          a.account-promocodes__card.card-promocode(href="#")
            .card-promocode__main
              span.card-promocode__text Дополнительная скидка 500 ₽ на товары по акции
              .card-promocode__copy-link
                | SALE500

            .card-promocode__footer
              span.card-promocode__valid-title действует:&nbsp;
              span.card-promocode__valid-until до 25.08.23


            span.card-promocode__icon
              +icon-mono('star')

            span.card-promocode__copy-icon
        li.account-promocodes__item
          a.account-promocodes__card.card-promocode(href="#")
            .card-promocode__main
              span.card-promocode__text Бесплатная доставка курьером ₽
              .card-promocode__copy-link
                | freedel

            .card-promocode__footer
              span.card-promocode__valid-title действует:&nbsp;
              span.card-promocode__valid-until до 24.05.23


            span.card-promocode__icon
              +icon-mono('star')

            span.card-promocode__copy-icon


    .account-promocodes__not-exist
      h5 у вас пока нет избранных товаров!

    .account-promocodes__dropdowns
      .modal-filters__dropdowns
        .modal-filters__dropdown.dropdown-modal
          button.dropdown-modal__button.footer-menu__button(type="button")
            span
              | как получить промокод у нас в магазине?
            +icon-multi('arrow-up-black')

          ul.footer-menu__list.dropdown-modal__list
            li.dropdown-modal__text
              strong Сервис «Долями»
              | &nbsp;помогает вам разделить сумму покупки на четыре
              | равных платежа — без комиссии и  дополнительных плат. Покупку
              | получите сразу после оплаты первой части. Выберите «Долями»
              | как способ оплаты на сайте, и сумма заказа разделится на четыре
              | части: — первую вы оплатите при оформлении заказа — это 25%
              | от всей суммы; — оставшиеся три будут списываться с вашей
              | карты автоматически, с интервалом в две недели. Перед каждым
              | платежом пришлем вам напоминание о дате списания.

        .modal-filters__dropdown.dropdown-modal
          button.dropdown-modal__button.footer-menu__button(type="button")
            span
              | Как использовать промокод
            +icon-multi('arrow-up-black')

          ul.footer-menu__list.dropdown-modal__list
            li.dropdown-modal__text
              strong Сервис «Долями»
              | &nbsp;помогает вам разделить сумму покупки на четыре
              | равных платежа — без комиссии и  дополнительных плат. Покупку
              | получите сразу после оплаты первой части. Выберите «Долями»
              | как способ оплаты на сайте, и сумма заказа разделится на четыре
              | части: — первую вы оплатите при оформлении заказа — это 25%
              | от всей суммы; — оставшиеся три будут списываться с вашей
              | карты автоматически, с интервалом в две недели. Перед каждым
              | платежом пришлем вам напоминание о дате списания.

        .modal-filters__dropdown.dropdown-modal
          button.dropdown-modal__button.footer-menu__button(type="button")
            span
              | через сколько можно использовать бонусы
            +icon-multi('arrow-up-black')

          ul.footer-menu__list.dropdown-modal__list
            li.dropdown-modal__text
              strong Сервис «Долями»
              | &nbsp;помогает вам разделить сумму покупки на четыре
              | равных платежа — без комиссии и  дополнительных плат. Покупку
              | получите сразу после оплаты первой части. Выберите «Долями»
              | как способ оплаты на сайте, и сумма заказа разделится на четыре
              | части: — первую вы оплатите при оформлении заказа — это 25%
              | от всей суммы; — оставшиеся три будут списываться с вашей
              | карты автоматически, с интервалом в две недели. Перед каждым
              | платежом пришлем вам напоминание о дате списания.

        .modal-filters__dropdown.dropdown-modal
          button.dropdown-modal__button.footer-menu__button(type="button")
            span
              | какую сумму можно оплатить бонусами
            +icon-multi('arrow-up-black')

          ul.footer-menu__list.dropdown-modal__list
            li.dropdown-modal__text
              strong Сервис «Долями»
              | &nbsp;помогает вам разделить сумму покупки на четыре
              | равных платежа — без комиссии и  дополнительных плат. Покупку
              | получите сразу после оплаты первой части. Выберите «Долями»
              | как способ оплаты на сайте, и сумма заказа разделится на четыре
              | части: — первую вы оплатите при оформлении заказа — это 25%
              | от всей суммы; — оставшиеся три будут списываться с вашей
              | карты автоматически, с интервалом в две недели. Перед каждым
              | платежом пришлем вам напоминание о дате списания.

        .modal-filters__dropdown.dropdown-modal
          button.dropdown-modal__button.footer-menu__button(type="button")
            span
              | какие покупки не дают бонусыак повысить статус карты
            +icon-multi('arrow-up-black')

          ul.footer-menu__list.dropdown-modal__list
            li.dropdown-modal__text
              strong Сервис «Долями»
              | &nbsp;помогает вам разделить сумму покупки на четыре
              | равных платежа — без комиссии и  дополнительных плат. Покупку
              | получите сразу после оплаты первой части. Выберите «Долями»
              | как способ оплаты на сайте, и сумма заказа разделится на четыре
              | части: — первую вы оплатите при оформлении заказа — это 25%
              | от всей суммы; — оставшиеся три будут списываться с вашей
              | карты автоматически, с интервалом в две недели. Перед каждым
              | платежом пришлем вам напоминание о дате списания.
