- const accountTitle = 'личные данные'

main.page-main.main
  .account-layout
    .site-container
      .account-layout__body
        .account-layout__sidenav
          +Sidenav()

        .account-layout__content
          .account-layout__back
            button.product-view__back.product-view__back--account(type="button", data-button="back")
              +icon-multi('back-grey')
              span.product-view__back-value
                | Назад


          .account-layout__header
            h2.account-layout__title= accountTitle

            .account-layout__notifications.account-layout__notifications--desktop
              .account-layout__notifications-text
                span уведомления
                i.account-layout__notifications-value 5

              +Switcher('notifications-switcher', 'notifications-switcher')

            .account-layout__notifications.account-layout__notifications--mobile
              button.account-layout__bell
                span.account-layout__bell-counter 5

          include account-form.pug

  .modal.modal-locate-list.modal-lifestyle.modal-locate-list--certificates
    include modal-save-data.pug
