.modal__container(data-target="modal-cancel-order")
  .modal__content.modal-locate-list__content.modal-lifestyle__content
    .modal-locate-list__head
      span.modal-locate-list__title
        | отменить заказ
      button.modal-locate-list__close.modal-close(type="button")
        +icon-mono('close-big')

    form.modal-certificate__form.modal-locate-list__body.modal-lifestyle__body(action="")
      .modal-certificate__span
        span Вы уверены что хотите отменить заказ?

      .modal-certificate__bottom.modal-certificate__bottom--end
        button.modal-certificate__button.large-btn(type="button", data-path="modal-cancel-success")
          span.large-btn__text
            | да,отменить заказ
          span.large-btn__loader
            +icon-mono('loader')
