.modal__container(data-target="modal-sorting")
  form.modal__content.modal-locate-list__content.modal-locate-list__content--flex(action="" method="method")
    .modal-locate-list__head
      span.modal-locate-list__title.modal-locate-list__reset
        | сортировать
      button.modal-locate-list__close.modal-close.js-close-sorting-modal(type="button")
        +icon-mono('close-big')

    .modal-locate-list__filters.modal-filters.modal-sorting
      ul.modal-sorting__list
        li.modal-sorting__item
          +Radio-input('sorting-orders-1', 'sorting-orders', 'селект 1')
        li.modal-sorting__item
          +Radio-input('sorting-orders-2', 'sorting-orders', 'селект 2')
        li.modal-sorting__item
          +Radio-input('sorting-orders-3', 'sorting-orders', 'селект 3')
