.save-panel
  button.save-panel__save-btn.large-btn(type="submit")
    span.large-btn__text
      | сохранить настройки
    span.large-btn__loader
      +icon-mono('loader')

  a.save-panel__delete-btn.sidenav__logout.js-delete-user(href="#") Удалить аккаунт
