.bank-link {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  object {
    pointer-events: none;

    transition: transform var(--transition);
  }

  &:hover {
    object {
      transform: scale(1.1);
    }
  }
}
