.color-checkbox {
    display: block;
    cursor: pointer;

    &__text {
        display: block;
        width: 2rem;
        height: 2rem;

        border-radius: 100%;
        border: 1px solid transparent;
        transition: var(--transition);
    }

    &--white {
        .color-checkbox__text {
            border-color: var(--base-2, #8c8c8c);
        }
    }

    &__input {
        &:checked {
            ~.color-checkbox__text {
                border-color: var(--base-3, #191919);
            }
        }
    }
}