.favorites {
  &__label {
    display: block;
    cursor: pointer;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 2.4rem;
    height: 2.4rem;

    .icon {
      width: 100%;
      max-height: 100%;

      fill: transparent;
      stroke: var(--base-1, #fff);
      transition: var(--transition);
    }
  }

  &__input {
    &:checked {
      & ~ .favorites__icon {
        .icon {
          fill: var(--base-1, #fff);
          stroke: transparent;
        }
      }
    }
  }
}
