.hamburger-btn {
  position: relative;
  display: block;
  width: 3rem;
  height: 0.9rem;


  &::after,
  &::before {
    position: absolute;
    left: 0;

    width: 100%;
    height: 0.13rem;

    background-color: var(--base-1, #fff);
    transition: transform 0.3s ease-out, width 0.3s ease-out;
    content: '';
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &--open {
    &::before {
      top: 50%;

      width: 75%;
      transform: translateY(-50%) rotate(-45deg);
    }

    &::after {
      top: 50%;
      bottom: unset;

      width: 75%;
      transform: translateY(-50%)  rotate(45deg);
    }
  }
}
