.input-box {
  position: relative;

  width: 100%;

  &__label {
    position: absolute;
    left: 0;
    bottom: calc(100% - 1.5rem);
    z-index: 1;

    opacity: 0;

    color: rgba($color: #191919, $alpha: 0.45);

    font: var(--font-Text-T6-reg1);

    transition: var(--transition);
  }

  &__error,
  &__tooltip {
    position: absolute;
    top: calc(100% + 0.8rem);
    left: 0;
    z-index: 1;

    font: var(--font-Text-T6-med1);
    letter-spacing: 0.72px;
    text-transform: initial;

    opacity: 0;
    visibility: hidden;

    transition: var(--transition);
  }

  &__error {
    color: var(--system-red, #B72D0E);
  }

  &__tooltip {
    color: var(--base-2, #8C8C8C);
  }

  &__clear {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 2;

    width: 1.4rem;
    height: 1.4rem;

    opacity: 0;
    transform: translateY(-50%);

    transition: opacity var(--transition);

    .icon {
      width: 100%;
      height: 100%;

      stroke: var(--base-3, #191919);
      pointer-events: none;
    }
  }

  &__input {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 0.8rem 0 1.2rem;

    color: var(--base-3, #191919);
    font: var(--font-Text-T5-med1);
    letter-spacing: 0.84px;
    text-transform: uppercase;

    border-width: 0 0 1px 0;
    border-style: solid;
    border-color:  var(--base-2, #8C8C8C);

    transition: var(--transition);
  }

  &__input {
    &:focus {
      border-color:  var(--base-3, #191919);

      &:required {
        & ~ .input-box__tooltip {
          opacity: 1;
          visibility: visible;
        }
      }

      &:not(:placeholder-shown) {
        & ~ .input-box__clear {
          opacity: 1;
          visibility: visible;
        }
        & ~ .input-box__label {
          bottom: calc(100% - 0.5rem);
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  &--big {
    .input-box__label {
      display: none;
    }

    .input-box__input {
      font: var(--font-Text-T2-reg1);
    }
  }
}
