.map-checkbox {
  cursor: pointer;

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 16.1rem;
    padding: 1rem;

    color: var(--base-1, #FFF);
    font: var(--font-Text-T6-med2);
    letter-spacing: 0.06em;
    text-transform: uppercase;

    border-radius: 50px;
    border: 1px solid var(--base-1, #FFF);
    transition: 0.2s ease-out;
  }

  &__input {
    &:checked {
      ~ .map-checkbox__button {
        color: var(--base-3, #191919);
        background-color: var(--base-1, #FFF);
        border-color: transparent;
      }
    }
  }
}
