.medium-btn {
  position: relative;
  display: flex;
  justify-content: center;

  width: max-content;
  padding: 1.4rem 1.8rem;
  overflow: hidden;

  background-color: var(--primary-prime, #41352B);
  border-radius: 5rem;
  text-align: center;

  transition: background-color 0.3s ease-out, border-color 0.2s ease-out;

  &__loader {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;

    display: none;
    align-items: center;
    justify-content: center;

    background-color: var(--primary-prime, #41352B);

    .icon-loader {
      width: 2.4rem;
      height: 2.4rem;

      fill: none;
      stroke: var(--base-1);

      animation-name: spin;
      animation-timing-function: linear;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }
  }

  &__body {
    position: relative;

    display: flex;
    align-items: center;

    padding-left: 3.4rem;

    transition: padding 0.3s ease-out;

    .icon {
      position: absolute;
      top: 50%;

      flex-shrink: 0;
      width: 3.4rem;
      height: 1.4rem;

      will-change: transform;
      transform: translateY(-50%) scale(1);
    }

    & .icon-link-arrow {
      left: 0;
      transition: transform 0.3s ease-out, opacity 0.2s ease-out;
      stroke: var(--base-1, #fff);
    }

    & .icon-link-arrow-clean {
      right: 0;
      opacity: 0;
      transform: translateY(-50%) scale(0);
      transition: transform 0.3s ease-out;
    }
  }

  &__text {
    margin-left: 1rem;
    color: var(--base-1);
    font: var(--font-Text-T6-semi1);
    letter-spacing: 0.72px;
    text-align: center;
    text-transform: uppercase;
  }

  &__arrow {
    position: absolute;
    top: 50%;

    left: 0;

    flex-shrink: 0;
    display: block;

    width: 3.4rem;
    height: 1.4rem;

    background-image: url('../../../assets/images/icons/mono/link-arrow.svg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    will-change: transform;

    transform: translateY(-50%);
    transform-origin: center;
    transition: transform 0.3s ease-out, opacity 0.2s ease-out;
  }

  &--second {
    background-color: var(--base-1, #fff);

    .medium-btn__arrow {
      background-image: url('../../../assets/images/icons/multi/link-arrow-black.svg');
    }

    .medium-btn__text {
      color: var(--base-3, #191919);
    }

    .medium-btn__loader {
      background-color: var(--base-1, #fff);
    }

    .icon-loader {
      fill: none;
      stroke: var(--base-3);
    }
  }

  &--outline {
    background-color: var(--base-1, #fff);
    border: 1px solid var(--base-3, #191919);

    .medium-btn__arrow {
      background-image: url('../../../assets/images/icons/multi/link-arrow-black.svg');
    }

    .medium-btn__text {
      color: var(--base-3, #191919);
    }

    .medium-btn__loader {
      background-color: var(--base-1, #fff);
    }

    .icon-loader {
      fill: none;
      stroke: var(--base-3);
    }
  }

  &:hover {
    background-color: var(--base-3, #41352B);
    border-color: transparent;

    .medium-btn__body {
      padding-left: 0;
      padding-right: 3.4rem;

      .icon-link-arrow-clean {
        opacity: 1;
        transform: translateY(-50%) scaleX(1);
      }
    }

    .medium-btn__text {
      margin-left: 0;
      margin-right: 1rem;

      color: var(--base-1, #fff);
    }

    .medium-btn__arrow {
      transform: translateY(-50%) scaleX(0);
      opacity: 0;
    }
  }

  &--loaded {
    pointer-events: none;

    .medium-btn__loader {
      display: flex;
    }
  }

  &--disabled,
  &:disabled {
    background: var(--base-2, #8C8C8C);
    border-color: transparent;
    pointer-events: none;

    .medium-btn__text {
      color: var(--base-1, #fff);
    }

    .medium-btn__arrow {
      background-image: url('../../../assets/images/icons/multi/link-arrow.svg');
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
