.phone-link {
  position: relative;
  display: block;
  width: max-content;
  color: var(--base-1);
  font: var(--font-Text-T3-semi1);
  letter-spacing: 0.48px;

  &::before {
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--base-1);
    transition: width 0.3s ease;
    content: "";
  }

  &:hover {
    &::before {
      width: 100%;
    }
  }

  &--dark {
    color: var(--base-3, #191919);

    &::before {
      background-color: var(--base-3, #191919);
    }
  }
}
