extends layout/default.pug

block variables
	- const bodyClass = "page-home preload"
	- const headerClass = "header-main"
	- const pageTitle = "Главная"
	- const siteLang = "ru"

block content
	include pages/index/main.pug
