extends layout/secondary.pug

block variables
  - const bodyClass = "page-home preload"
  - const headerClass = "header-main header--light-theme header--secondary"
  - const pageTitle = "Коллекции"
  - const siteLang = "ru"
  - const breadcrumbs = ['Главная', 'Коллекции']

block content
  include pages/page-collections/main.pug
