extends layout/order.pug

block variables
  - const bodyClass = "page-home preload not-auth"
  - const headerClass = ""
  - const pageTitle = "Оформление"
  - const siteLang = "ru"
  - const authOuterClass = "is-authenticated-user"
  - const authorisedOuter = true;

block content
  include pages/page-order/main.pug
