extends layout/secondary.pug

block variables
  - const bodyClass = "page-home preload"
  - const headerClass = "header-main header--secondary"
  - const pageTitle = "Страница товара"
  - const siteLang = "ru"
  - const breadcrumbs = ['Главная', 'Каталог', 'Брюки джинсовые широкие белые']

block content
  include pages/page-product/main.pug
