extends layout/secondary.pug

block variables
  - const bodyClass = "page-home preload"
  - const headerClass = "header-main header--light-theme header--secondary"
  - const pageTitle = "Блог"
  - const siteLang = "ru"
  - const breadcrumbs = ['Главная', 'Блог']

block content
  include pages/page-blog/main.pug
