extends layout/secondary.pug

block variables
  - const bodyClass = "page-home preload"
  - const headerClass = "header-main header--secondary"
  - const pageTitle = "Навигация"
  - const siteLang = "ru"
  - const breadcrumbs = ['Главная', 'Навигация по сайту для проверки']

block content
  include pages/page-navigation/main.pug
