extends layout/about.pug

block variables
  - const bodyClass = "page-home preload"
  - const headerClass = "header-main fix-block"
  - const pageTitle = "О компании"
  - const siteLang = "ru"
  - const breadcrumbs = ['Главная', 'Блог']
  - const breadcrumbsClass = 'breadcrumbs--absolute breadcrumbs--light'

block content
  include pages/about/main.pug
