extends layout/secondary.pug

block variables
  - const bodyClass = "page-home preload"
  - const headerClass = "header-main header--light-theme header--secondary"
  - const pageTitle = "Личный кабинет - избранное"
  - const siteLang = "ru"
  - const breadcrumbs = ['Главная', 'Личный кабинет']

block content
  include pages/page-account/main-account-favorites.pug
