extends layout/default.pug

block variables
	- const bodyClass = "page-home page-ui preload"
	- const headerClass = "header-main"
	- const pageTitle = "UI"
	- const siteLang = "ru"

block content
	include pages/ui/main.pug
