-
  var navs = [
    {
      text: 'возврат',
    },
    {
      text: 'Доставка',
    },
    {
      text: 'Оплата',
    },
    {
      text: 'вопрос-ответ',
    },
    {
      text: 'Условия рассрочки',
    },
  ]

section.typical-article
  .site-container
    .blogs-article__content.article-blog
      aside.article-blog__nav.article-blog__nav--divided
        ul
        //- 
          li
            a(href="#") title

      .article-blog__list
        div
          h2 возврат

          p
            span
              | Рефлексия прекрасно вызывает комплекс. Поведенческая терапия, иcходя
              | из того, что просветляет филосовский код. Как отмечает Д.Майерс, у нас
              | есть некоторое чувство конфликта, которое возни. Декаданс заканчивает
              | композиционный мимезис, таким образом, все перечисленные признаки архетипа
              | и мифа подтверждают, что действие механизмов мифотворчества сродни
              | механизмам художественно-продуктивного мышления. Действительно, метафора
              | трансформирует холерик. Аполлоновское начало продолжает социально-психологический
              | фактор. Интерпретация аккумулирует экспрессионизм.

            span
              | Рефлексия прекрасно вызывает комплекс. Поведенческая терапия, иcходя
              | из того, что просветляет филосовский код. Как отмечает Д.Майерс, у нас
              | есть некоторое чувство конфликта, которое возни. Декаданс заканчивает
              | композиционный мимезис, таким образом, все перечисленные признаки архетипа
              | и мифа подтверждают, что действие механизмов мифотворчества сродни
              | механизмам художественно-продуктивного мышления. Действительно, метафора
              | трансформирует холерик. Аполлоновское начало продолжает социально-психологический
              | фактор. Интерпретация аккумулирует экспрессионизм.

        div
          h4 Возврат / обмен товаров

          div
            ol
              li
                span
                  | Обязательно связаться с нами удобным способом (бесплатный
                  | звонок<br>8-800-999-4444, info@retrova.com круглосуточно) и
                  | сообщить номер заказа
              li
                span
                  | Собрать посылку, состоящую из: товара, подписанного заявления
                  | на возврат (в свободной форме), чека.
              li
                span
                  | Менеджер сообщит вам наиболее удобный способ возврата, сформирует
                  | накладную (при необходимости) и вышлет вам на электронную почту.
                  | вам останется прийти в пункт с посылкой и накладной
              li
                span
                  | Возврат товара возможен транспортной компанией (СДЭК), Почтой
                  | России или другим удобным способом (по согласованию с менеджером
                  | Retrova).
              li
                span
                  | При возврате Почтой России, обязательно свяжитесь с менеджером
                  | магазина и сообщите трек-номер посылки, чтобы мы смогли быстрее
                  | обработать возврат.

        div
          h4 Оплата банковской картой

          h6 Оплата по кредитным картам MasterCard

          p
            span
            | Рефлексия прекрасно вызывает комплекс. Поведенческая терапия, иcходя
            | из того, что просветляет филосовский код. Как отмечает Д.Майерс, у нас
            | есть некоторое чувство конфликта, которое возни. Декаданс заканчивает
            | композиционный мимезис, таким образом, все перечисленные признаки архетипа
            | и мифа подтверждают

          div.swiper.js-bank-card-swiper
            .swiper-wrapper
              .swiper-slide
                img(src="./assets/images/bank-cards/pic-1.png", alt="alt")
              .swiper-slide
                img(src="./assets/images/bank-cards/pic-2.png", alt="alt")
              .swiper-slide
                img(src="./assets/images/bank-cards/pic-3.png", alt="alt")

        div
          h4 Возврат / обмен товаров

          div
            ul
              li
                span
                  | Обязательно связаться с нами удобным способом (бесплатный
                  | звонок<br>8-800-999-4444, info@retrova.com круглосуточно) и
                  | сообщить номер заказа
              li
                span
                  | Собрать посылку, состоящую из: товара, подписанного заявления
                  | на возврат (в свободной форме), чека.
              li
                span
                  | Менеджер сообщит вам наиболее удобный способ возврата, сформирует
                  | накладную (при необходимости) и вышлет вам на электронную почту.
                  | вам останется прийти в пункт с посылкой и накладной
              li
                span
                  | Возврат товара возможен транспортной компанией (СДЭК), Почтой
                  | России или другим удобным способом (по согласованию с менеджером
                  | Retrova).
              li
                span
                  | При возврате Почтой России, обязательно свяжитесь с менеджером
                  | магазина и сообщите трек-номер посылки, чтобы мы смогли быстрее
                  | обработать возврат.

        div
          h4 слайдер

          div.swiper.js-typical-slider
            .swiper-wrapper
              .swiper-slide
                +picture('typical/slide-1.png', 'retrova typical slide image')
              .swiper-slide
                +picture('typical/slide-2.png', 'retrova typical slide image')


            .slider__controls
              button.slider__button.slider__button--prev
                +icon-mono('intro-arrow')
              button.slider__button.slider__button--next
                +icon-mono('intro-arrow')

        div
          .modal-filters__dropdowns
            .modal-filters__dropdown.dropdown-modal
              button.dropdown-modal__button.footer-menu__button(type="button")
                span
                  | Возврат и обмен товара надлежащего качества
                +icon-multi('arrow-up-black')

              ul.footer-menu__list.dropdown-modal__list
                p.dropdown-modal__text
                  strong Сервис «Долями»
                  span
                    | &nbsp;помогает вам разделить сумму покупки на четыре
                    | равных платежа — без комиссии и дополнительных плат. Покупку
                    | получите сразу после оплаты первой части. Выберите «Долями»
                    | как способ оплаты на сайте, и сумма заказа разделится на четыре
                    | части: — первую вы оплатите при оформлении заказа — это 25%
                    | от всей суммы; — оставшиеся три будут списываться с вашей
                    | карты автоматически, с интервалом в две недели. Перед каждым
                    | платежом пришлем вам напоминание о дате списания.

                p.dropdown-modal__text.dropdown-modal__text--padding
                  | Если возвращаемый вами товар является частью комплекта, то в
                  | случае отказа от товара, возврат может осуществляться только
                  | полным комплектом.

            .modal-filters__dropdown.dropdown-modal
              button.dropdown-modal__button.footer-menu__button(type="button")
                span
                  | Порядок предъявления претензий по качеству и возврат товара
                +icon-multi('arrow-up-black')

              ul.footer-menu__list.dropdown-modal__list
                p.dropdown-modal__text
                  strong Сервис «Долями»
                  span
                    | &nbsp;помогает вам разделить сумму покупки на четыре
                    | равных платежа — без комиссии и дополнительных плат. Покупку
                    | получите сразу после оплаты первой части. Выберите «Долями»
                    | как способ оплаты на сайте, и сумма заказа разделится на четыре
                    | части: — первую вы оплатите при оформлении заказа — это 25%
                    | от всей суммы; — оставшиеся три будут списываться с вашей
                    | карты автоматически, с интервалом в две недели. Перед каждым
                    | платежом пришлем вам напоминание о дате списания.

                p.dropdown-modal__text.dropdown-modal__text--padding
                  | Если возвращаемый вами товар является частью комплекта, то в
                  | случае отказа от товара, возврат может осуществляться только
                  | полным комплектом.

            .modal-filters__dropdown.dropdown-modal
              button.dropdown-modal__button.footer-menu__button(type="button")
                span
                  | Оплата долями
                +icon-multi('arrow-up-black')

              ul.footer-menu__list.dropdown-modal__list
                p.dropdown-modal__text
                  strong Сервис «Долями»
                  span
                    | &nbsp;помогает вам разделить сумму покупки на четыре
                    | равных платежа — без комиссии и дополнительных плат. Покупку
                    | получите сразу после оплаты первой части. Выберите «Долями»
                    | как способ оплаты на сайте, и сумма заказа разделится на четыре
                    | части: — первую вы оплатите при оформлении заказа — это 25%
                    | от всей суммы; — оставшиеся три будут списываться с вашей
                    | карты автоматически, с интервалом в две недели. Перед каждым
                    | платежом пришлем вам напоминание о дате списания.

                p.dropdown-modal__text.dropdown-modal__text--padding
                  | Если возвращаемый вами товар является частью комплекта, то в
                  | случае отказа от товара, возврат может осуществляться только
                  | полным комплектом.

            .modal-filters__dropdown.dropdown-modal
              button.dropdown-modal__button.footer-menu__button(type="button")
                span
                  | Перечень непродовольственных товаров, не подлежащих возврату или обмену
                +icon-multi('arrow-up-black')

              ul.footer-menu__list.dropdown-modal__list
                p.dropdown-modal__text
                  strong Сервис «Долями»
                  span
                    | &nbsp;помогает вам разделить сумму покупки на четыре
                    | равных платежа — без комиссии и дополнительных плат. Покупку
                    | получите сразу после оплаты первой части. Выберите «Долями»
                    | как способ оплаты на сайте, и сумма заказа разделится на четыре
                    | части: — первую вы оплатите при оформлении заказа — это 25%
                    | от всей суммы; — оставшиеся три будут списываться с вашей
                    | карты автоматически, с интервалом в две недели. Перед каждым
                    | платежом пришлем вам напоминание о дате списания.

                p.dropdown-modal__text.dropdown-modal__text--padding
                  | Если возвращаемый вами товар является частью комплекта, то в
                  | случае отказа от товара, возврат может осуществляться только
                  | полным комплектом.
