section.section.about-link
  .site-container
    a.about-link__body(href="")
      .about-link__picture
        +picture('link-cover.jpg', 'retrova about link cover')

      h4.about-link__text
        | Бутик retrova — Уникальные лимитированные
        | коллекции одежды и Контроль качества
        | на собственном производстве

      .about-link__link-wrapper
        .contacts-link
          +icon-multi('link-arrow')
          span.contacts-link__text
            | подробнее о нас
          +icon-multi('link-arrow-clean')
