main.page-main.main
	include intro.pug
	include slider.pug
	include seasons-look.pug
	include promotions.pug
	include certificates.pug
	include styles.pug
	include about-link.pug
	include seo-section.pug
