section.section.seo-section#end-trigger
  .site-container
    .seo-section__head
      h2.seo-section__title
        | seo-текст

    .seo-section__body
      .seo-section__text
        p
          | Таким образом постоянное информационно-пропагандистское обеспечение
          | нашей деятельности требуют определения и уточнения направлений
          | прогрессивного развития. Товарищи! начало повседневной работы по
          | формированию позиции обеспечивает широкому кругу (специалистов)
          | участие в формировании системы обучения кадров, соответствует насущным
          | потребностям. Разнообразный и богатый опыт консультация с широким
          | активом играет важную роль в формировании модели развития. Не следует,
          | однако забывать, что укрепление и развитие структуры позволяет. Таким
          | образом постоянное информационно-пропагандистское обеспечение нашей
          | деятельности требуют определения и уточнения направлений прогрессивного
          | развития. Товарищи! начало повседневной работы по формированию позиции
          | обеспечивает широкому
          | Таким образом постоянное информационно-пропагандистское обеспечение
          | нашей деятельности требуют определения и уточнения направлений
          | прогрессивного развития. Товарищи! начало повседневной работы по
          | формированию позиции обеспечивает широкому кругу (специалистов)
          | участие в формировании системы обучения кадров, соответствует насущным
          | потребностям. Разнообразный и богатый опыт консультация с широким
          | активом играет важную роль в формировании модели развития. Не следует,
          | однако забывать, что укрепление и развитие структуры позволяет. Таким
          | образом постоянное информационно-пропагандистское обеспечение нашей
          | деятельности требуют определения и уточнения направлений прогрессивного
          | развития. Товарищи! начало повседневной работы по формированию позиции
          | обеспечивает широкому ...

      button.seo-section__button.expand-btn(type="button")
        span.expand-btn__text.expand-btn__text--is-hidden
          | развернуть
        span.expand-btn__text.expand-btn__text--is-open
          | свернуть
        +icon-mono('arrow-down')
