section.section.styles-look
  .site-container
    .styles-look__head.slider__head
      h2.slider__title
        | подборка образов

      .slider__head-row.slider__head-row--transform
        span.slider__subtitle
          | Рефлексия прекрасно вызывает комплекс. Поведенческая терапия, иcходя из
          | того, что просветляет филосовский код. Как отмечает Д.Майерс, у нас есть
          | некоторое чувство конфликта, которое возни


        .slider__link
          a.contacts-link.contacts-link--dark(href="#")
            +icon-multi('link-arrow-prime')
            span.contacts-link__text
              | посмотреть все
            +icon-multi('link-arrow-clean-prime')

    .styles-look__body.slider__body.js-looks-swiper
      .styles-look__swiper.swiper
        ul.styles-look__list.swiper-wrapper
          li.styles-look__item.swiper-slide
            a.styles-look__link.look(href="#" id="" data-look="")
              .look__body
                .look__picture
                  +picture('looks/pic-1.jpg', 'retrova looks image')

                  .look__headline
                    +icon-mono('star')
                    span.look__name
                      | будни

                .look__info.product-card__info
                  span.product-card__name
                    | 12 образов
                  .product-card__price
                    span.product-card__price-value
                      | 25 товаров
          li.styles-look__item.swiper-slide
            a.styles-look__link.look(href="#" id="" data-look="")
              .look__body
                .look__picture
                  +picture('looks/pic-2.jpg', 'retrova looks image')

                  .look__headline
                    +icon-mono('star')
                    span.look__name
                      | вечеринка

                .look__info.product-card__info
                  span.product-card__name
                    | 3 образа
                  .product-card__price
                    span.product-card__price-value
                      | 25 товаров
          li.styles-look__item.swiper-slide
            a.styles-look__link.look(href="#" id="" data-look="")
              .look__body
                .look__picture
                  +picture('looks/pic-3.jpg', 'retrova looks image')

                  .look__headline
                    +icon-mono('star')
                    span.look__name
                      | офис

                .look__info.product-card__info
                  span.product-card__name
                    | 7 образов
                  .product-card__price
                    span.product-card__price-value
                      | 25 товаров
          li.styles-look__item.swiper-slide
            a.styles-look__link.look(href="#" id="" data-look="")
              .look__body
                .look__picture
                  +picture('looks/pic-4.jpg', 'retrova looks image')

                  .look__headline
                    +icon-mono('star')
                    span.look__name
                      | спорт

                .look__info.product-card__info
                  span.product-card__name
                    | 2 образа
                  .product-card__price
                    span.product-card__price-value
                      | 25 товаров
          li.styles-look__item.swiper-slide
            a.styles-look__link.look(href="#" id="" data-look="")
              .look__body
                .look__picture
                  +picture('looks/pic-3.jpg', 'retrova looks image')

                  .look__headline
                    +icon-mono('star')
                    span.look__name
                      | офис

                .look__info.product-card__info
                  span.product-card__name
                    | 7 образов
                  .product-card__price
                    span.product-card__price-value
                      | 25 товаров
          li.styles-look__item.swiper-slide
            a.styles-look__link.look(href="#" id="" data-look="")
              .look__body
                .look__picture
                  +picture('looks/pic-4.jpg', 'retrova looks image')

                  .look__headline
                    +icon-mono('star')
                    span.look__name
                      | спорт

                .look__info.product-card__info
                  span.product-card__name
                    | 2 образа
                  .product-card__price
                    span.product-card__price-value
                      | 25 товаров
          li.styles-look__item.swiper-slide
            a.styles-look__link.look(href="#" id="" data-look="")
              .look__body
                .look__picture
                  +picture('looks/pic-3.jpg', 'retrova looks image')

                  .look__headline
                    +icon-mono('star')
                    span.look__name
                      | офис

                .look__info.product-card__info
                  span.product-card__name
                    | 7 образов
                  .product-card__price
                    span.product-card__price-value
                      | 25 товаров
          li.styles-look__item.swiper-slide
            a.styles-look__link.look(href="#" id="" data-look="")
              .look__body
                .look__picture
                  +picture('looks/pic-4.jpg', 'retrova looks image')

                  .look__headline
                    +icon-mono('star')
                    span.look__name
                      | спорт

                .look__info.product-card__info
                  span.product-card__name
                    | 2 образа
                  .product-card__price
                    span.product-card__price-value
                      | 25 товаров
          li.styles-look__item.swiper-slide.swiper-slide-link
            a.contacts-link.contacts-link--dark(href="#")
              +icon-multi('link-arrow-prime')
              span.contacts-link__text
                | посмотреть все
              +icon-multi('link-arrow-clean-prime')

      .slider__container.site-container
        .slider__controls
          button.slider__button.slider__button--prev
            +icon-mono('intro-arrow')
          button.slider__button.slider__button--next
            +icon-mono('intro-arrow')
