.fixed-footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

  width: 100%;

  color: var(--base-3, #191919);

  background-color: var(--base-1, #fff);
  border-color: rgba($color: #191919, $alpha: 0.2);
  border-style: solid;
  border-width: 1px 0 0 0;

  transform: translateY(101%);
  transition: transform 0.3s ease-out;

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0;
  }

  &__info {
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 4.2rem;

    .about-product__title {
      margin-bottom: 0;
      font: var(--font-Text-T3-semi1);
      letter-spacing: 0.02em;
    }

    .about-product__prices {
      @include breakpoint(laptop) {
        display: none;
      }
    }

    @include breakpoint(portrait-tablet) {
      display: none;
    }
  }

  &__parameters,
  &__control {
    display: flex;
    align-items: center;
    column-gap: 2rem;

    @include breakpoint(portrait-tablet) {
      column-gap: 1.8rem;
    }
  }

  &__parameters {
    align-items: stretch;
  }

  &__control {
    column-gap: 4rem;

    @include breakpoint(portrait-tablet) {
      flex-grow: 1;
      justify-content: space-between;
      column-gap: 2rem;
    }
  }

  &__parameter {
    display: flex;
    flex-direction: column;
    align-items: center;

    pointer-events: none;
  }

  &__parameter-title {
    display: block;
    margin-bottom: 1.2rem;

    color: var(--base-3, #191919);
    font: var(--font-Text-T6-med2);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    opacity: 0.6;

    @include breakpoint(portrait-tablet) {
      margin-bottom: 0.8 rem;
    }
  }

  &--visible {
    transform: translateY(0%);
  }
}
