.product-view {
  position: relative;
  /*overflow: hidden;
  height: 100%;*/

  &__list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 1.6rem;

    @include breakpoint(laptop) {
      flex-flow: row nowrap;
      gap: unset;
      width: 100%;
    }
  }

  &__item {
    width: calc(100% / 2 - 0.8rem) !important;
    min-height: 675px;

    &:not(:first-child) {
      .product-card__favorites {
        display: none;
      }
    }

    @include breakpoint(laptop) {
      width: 100% !important;
      flex-shrink: 0;
      min-height: 465px;
    }

    @include breakpoint(small-tablet) {
      width: 100%;
    }
  }

  &__picture {
    position: relative;
    overflow: hidden;

    width: 100%;
    height: 100%;

    cursor: url("data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2230%22%20height%3D%2230%22%20viewBox%3D%220%200%2030%2030%22%20fill%3D%22none%22%3E%0A%3Cpath%20d%3D%22M15%2010V20%22%20stroke%3D%22%23191919%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3Cpath%20d%3D%22M20%2015H10%22%20stroke%3D%22%23191919%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M15%2026.25V26.25C8.78625%2026.25%203.75%2021.2138%203.75%2015V15C3.75%208.78625%208.78625%203.75%2015%203.75V3.75C21.2138%203.75%2026.25%208.78625%2026.25%2015V15C26.25%2021.2138%2021.2138%2026.25%2015%2026.25Z%22%20stroke%3D%22%23191919%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3C%2Fsvg%3E") 24 24, pointer;

    video,
    img {
      @include centeredAbsolute();
      z-index: 1;

      /*max-width: unset;*/
      min-width: 100%;
      min-height: 100%;

      object-fit: cover;
      object-position: center;

      @include breakpoint(small-tablet) {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;

        min-width: 100%;
        min-height: unset;
        transform: unset;
      }
    }

    video {
      width: 100%;
      min-height: unset;
    }

    button {
      @include centeredAbsolute();
      z-index: 10;

      width: 50px;
      height: 50px;

      border-radius: 100%;
      background-color: transparent;

      background-image: url("data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2250%22%20height%3D%2250%22%20viewBox%3D%220%200%2050%2050%22%20fill%3D%22none%22%3E%0A%20%20%3Crect%20width%3D%2250%22%20height%3D%2250%22%20rx%3D%2225%22%20fill%3D%22white%22%2F%3E%0A%20%20%3Cpath%20d%3D%22M33%2025L21%2031.9282L21%2018.0718L33%2025Z%22%20fill%3D%22%23191919%22%2F%3E%0A%3C%2Fsvg%3E");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%;

      @include breakpoint(small-tablet) {
        width: 35px;
        height: 35px;
      }
    }

    .product-card__favorites {
      @include breakpoint(small-tablet) {
        top: 2rem;
        right: 2rem;
      }
    }

    &--background {
      background-color: #ccc;
    }
  }

  &__back {
    position: absolute;
    top: 2rem;
    left: 2rem;
    z-index: 20;

    display: none;
    align-items: center;
    column-gap: 0.8rem;

    .icon {
      width: 7px;
      height: 14px;
    }

    span {
      display: block;
      color: var(--base-1, #FFF);
      font: var(--font-Text-T6-med1);
      letter-spacing: 0.06em;
    }

    @include breakpoint(small-tablet) {
      display: inline-flex;
    }

    &--account {
      position: static;
      margin-bottom: 2.5rem;

      span {
        display: block;
        color: var(--base-3, #191919);
        opacity: 0.5;
        text-transform: initial;
      }

      @include breakpoint(laptop) {
        display: inline-flex;
      }
    }
  }

  .swiper-pagination-bullet {
    width: 21.4%;
    height: 2px;

    background-color: rgba(255, 255, 255, 0.50);
  }

  .swiper-pagination-bullet-active {
    background-color: rgba(255, 255, 255, 1);
  }
}
