-
  var menu = [
    {text: "Каталог", link: "/", class: "js-catalog"},
    {text: "Новинки", link: "/", class: ""},
    {text: "Акции", link: "/", class: ""},
    {text: "Коллекции", link: "/", class: ""},
    {text: "сертификаты", link: "/", class: ""},
    {text: "о бутике", link: "/", class: ""},
    {text: "покупателям", link: "/", class: ""}
  ]

-
  var svgs = [
    ['search', 'поиск'],
    ['heart', 'избранное'],
    ['cart', 'корзина'],
    ['user-lk', 'авторизация']
  ]

header.header(class=headerClass)
  nav.site-container
    .header__burger-menu
      button.hamburger-btn
        | hamburger
      li.controlbar__item
      a.control-button(href="#", aria-label="поиск")
        +icon-mono('search')

    a.header__logo.logo(href="/")
      +icon-mono('logo')

    .header__menu
      ul.menu
        for item in menu
          li.menu__item
            a.menu__link(class= item.class, href= item.link)= item.text

    .header__controlbar
      ul.controlbar
        each svg in svgs
          li.controlbar__item
            a.controlbar__link.control-btn(href="#", aria-label= svg[1])
              +icon-mono(svg[0])

  .header__catalog
    include ./catalog-menu.pug
