.service-footer
  .site-container
    .service-footer__body
      span._desktop Оплачивайте покупки с помощью сервисов
      span._tablet Оплачивайте сервисами
      span._mobile Оплачивайте:

      .service-footer__bank-links
        a.bank-link.service-footer__t(href="#")
          object(data="./assets/images/tff.svg")
        a.bank-link.service-footer__h(href="#")
          object(data="./assets/images/halva.svg")
