.breadcrumbs {
  overflow: hidden;

  &--absolute {
    position: absolute;
    top: 6.8rem;
    right: 0;
    left: 0;
    z-index: 99;
  }

  &__list {
    display: flex;
    align-items: center;
    padding: 2rem 0;

    @include breakpoint(small-tablet) {
      @include noScrollbar();
      overflow: auto;
    }
  }

  &__link {
    position: relative;
    display: flex;

    color: var(--base-3, #191919);
    font: var(--font-Text-T6-med1);
    text-transform: initial;
    white-space: nowrap;

    opacity: 0.5;

    &::after {
      display: inline;
      margin: 0 3px;

      color: var(--base-3, #191919);
      font: var(--font-Text-T6-med1);

      opacity: 0.5;
      content: '—';
    }
  }

  &__item {
    &:last-child {
      .breadcrumbs__link {
        color: var(--base-3, #191919);
        opacity: 1;
        pointer-events: none;

        &::after {
          content: none;
        }
      }
    }
  }

  &--light {
    .breadcrumbs__link {
      color: var(--base-1, #FFF);
      opacity: 0.6;

      &::after {
        color: var(--base-1, #FFF);
        opacity: 0.6;
      }
    }

    .breadcrumbs__item {
      &:last-child {
        .breadcrumbs__link {
          color: var(--base-1, #FFF);
          pointer-events: none;

          &::after {
            content: none;
          }
        }
      }
    }
  }
}
