.footer {
  display: block;
  background-color: var(--primary-prime);
  color: rgba(255, 255, 255, 0.7);

  &__form {
    color: var(--base-3, #191919);

    background-color: var(--base-1);
  }

  // grid cells start =========================================>

  &__grid {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(max-content, 50%) 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "logo menus socials"
    "contacts menus socials";
    padding: 6rem 0 8rem;

    @include breakpoint(laptop) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas:
      "logo contacts socials"
      "menus menus menus";

      gap: 5rem;
      padding: 5rem 0;
    }

    @include breakpoint(portrait-tablet) {
      grid-template-columns: 1fr;
      grid-template-areas:
      "logo socials"
      "contacts socials"
      "menus menus";
      gap: 3rem;
    }

    @include breakpoint(mobile) {
      grid-template-columns: 1fr;
      grid-template-areas:
      "logo"
      "contacts"
      "socials"
      "menus";
    }
  }

  &__logo-cell {
    grid-area: logo;
    text-transform: initial;

    @include breakpoint(portrait-tablet) {
      margin-bottom: 24px;
    }
  }

  &__contacts-cell {
    grid-area: contacts;
    display: flex;
    flex-direction: column;
    align-self: end;

    & .phone-link {
      margin-bottom: 1rem;
    }

    & .email-link {
      margin-bottom: 3rem;
    }

    @include breakpoint(laptop) {
      align-self: flex-start;
    }
  }

  &__menus-cell {
    grid-area: menus;

    display: flex;
    justify-content: space-between;
    column-gap: 5.2rem;

    padding: 0 0.8rem;

    @include breakpoint(desktop) {
      column-gap: 3.2rem;
      padding: 0;
    }

    @include breakpoint(laptop) {
      justify-content: flex-start;
    }

    @include breakpoint(mobile) {
      flex-direction: column;
      justify-content: unset;
      column-gap: unset;
    }
  }

  &__socials-cell {
    grid-area: socials;
    padding-left: 8rem;

    @include breakpoint(desktop) {
      padding-left: 5rem;
    }

    @include breakpoint(laptop) {
      padding-left: 0;
    }

    @include breakpoint(portrait-tablet) {
      margin-bottom: 20px;
    }
  }

  //  <========================================= grid cells end

  &__menu {
    &:last-child {
      padding-left: 3rem;
    }

    @include breakpoint(laptop) {
      &:not(:first-child) {
        margin-left: auto;
      }

      &:last-child {
        padding-left: 6rem;
        margin-right: auto;
      }
    }

    @include breakpoint(portrait-tablet) {
      &:not(:first-child) {
        margin-left: unset;
      }

      &:last-child {
        padding-left: unset;
        margin-right: unset;
      }
    }
  }

  &__logo,
  &__slogan {
    display: block;
    margin-bottom: 2rem;
  }

  &__bottom {
    width: 100%;

    padding: 2rem 0;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.2);

    .site-container {
      display: grid;
      grid-template-columns: 1fr minmax(max-content, 50%);
      grid-template-rows: auto;

      @include breakpoint(desktop) {
        grid-template-columns: minmax(max-content, 100%) minmax(max-content, 100%);
        gap: 5rem;
      }

      @include breakpoint(portrait-tablet) {
        display: flex;
        flex-direction: column-reverse;
        gap: unset;
      }
    }

    @include breakpoint(portrait-tablet) {
      padding: 0;
      border-color: transparent;
    }
  }

  &__bank-links {
    display: flex;
    align-items: center;
    column-gap: 2.4rem;

    @include breakpoint(portrait-tablet) {
      margin: 0 -100% 0 -100%;
      padding: 17px 100% 17px 100%;

      border-width: 1px 0 0 0;
      border-style: solid;
      border-color: rgba(255, 255, 255, 0.2);
    }
  }

  &__agreements {
    display: flex;
    align-items: center;
    column-gap: 6.4rem;

    padding: 0 0.8rem;

    @include breakpoint(desktop) {
      padding: 0;
    }

    @include breakpoint(mobile) {
      flex-direction: column;
      align-items: flex-start;
      column-gap: unset;
      margin-bottom: 3rem;

      .offer {
        margin-bottom: 1rem;
      }
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 3rem;

    @include breakpoint(portrait-tablet) {
      column-gap: unset;
      margin-bottom: 3rem;
    }

    @include breakpoint(mobile) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: unset;

      padding: 0 0 3rem;
    }
  }
}
