.header {
  position: absolute;
  top: 0;
  left: 0;
  bottom: auto;
  right: 0;
  z-index: 100;

  padding: 2rem 0;
  color: var(--base-1);

  border-color: var(--base-1);
  border-style: solid;
  border-width: 0 0 1px 0;

  .site-container {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__burger-menu {
    display: none;
  }

  &__logo {
    flex-shrink: 0;
  }

  &__catalog {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 100;

    width: 100%;
  }
}
