.modal-filters {
  padding: 4rem;

  &__price {
    margin-bottom: 2.8rem;
  }

  &__discount {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 3.2rem;

    span {
      letter-spacing: 0.84px;
      text-transform: uppercase;
      font: var(--font-Text-T5-med1);
    }
  }

  &__dropdown {
    border-color: rgba($color: #191919, $alpha: 0.2);
    border-style: solid;
    border-width: 1px 0 1px 0;

    &:first-child {
      border-width: 1px 0 1px 0;
    }

    .footer-menu__button {
      display: flex;

      span {
        color: var(--base-3, #191919);
      }

      &--opened {
        .icon {
          transform: rotate(0deg);
        }

        & ~ .footer-menu__list {
          display: flex;
        }
      }

      @include breakpoint(mobile) {
        display: flex;
      }
    }
  }
}
