.account-certificates {
  &__no-certificates {
    display: none;
    margin-bottom: 8rem;

    h5 {
      margin-bottom: 3rem;

      color: var(--black-color, #000);
      font: var(--font-Text-T4-semi1);
      letter-spacing: 0.32px;

      @include breakpoint(portrait-tablet) {
        max-width: 33rem;
        margin-bottom: 2rem;
      }
    }

    @include breakpoint(portrait-tablet) {
      align-items: stretch;
      justify-content: space-between;
      height: calc(100vh - 19rem);
      margin-bottom: 6rem;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    column-gap: 1.3rem;

    max-width: 55rem;

    .large-btn {
      width: 100%;
      flex-grow: 1;
      padding: 1.3rem 4rem;
    }

    @include breakpoint(portrait-tablet) {
      flex-direction: column;
      flex-grow: 0;
      gap: 1rem;

      max-width: unset;
      margin-top: auto;
    }
  }

  &__list {
    margin-bottom: 4rem;
  }

  &__dropdowns {
    display: none;
  }

  &__body {
    &--empty {
      .account-certificates__no-certificates {
        display: flex;
        flex-direction: column;
      }

      .account-certificates__certificates {
        display: none;
      }

      .account-certificates__dropdowns {
        display: block;

        @include breakpoint(portrait-tablet) {
          display: flex;
        }
      }
    }
  }
}
