.account-order {
  padding: 2rem 0 8rem;

  &__head {
    margin-bottom: 2.5rem;

    @include breakpoint(tablet) {
      display: none;
    }
  }

  &__link {
    &.contacts-link {
      .icon-link-arrow-prime {
        transform: rotateY(180deg);
      }

      .icon-link-arrow-clean-prime {
        opacity: 0;
      }

      &:hover {
        padding-left: 4.9rem;

        .icon-link-arrow-prime {
          transform: rotateY(180deg);
          opacity: 1;
        }

        .contacts-link__text {
          margin-left: 1.2rem;
        }
      }
    }
  }

  &__status {
    margin-top: 8rem;

    @include breakpoint(portrait-tablet) {
      margin-top: 6rem;
    }
  }
}
