.order-cart {
  display: block;
  padding: 3.2rem;
  overflow: hidden;
  background-color: #F8F8F8;

  @include breakpoint(small-tablet) {
    padding: 20px;
  }

  &__products ,
  &__head {
    padding-bottom: 24px;

    border-style: solid;
    border-color:  rgba($color: #191919, $alpha: 0.1);
    border-width: 0 0 1px 0;

    @include breakpoint(portrait-tablet) {
      padding-bottom: 16px;
    }
  }

  &__products {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-top: 24px;

    @include breakpoint(portrait-tablet) {
      gap: 16px;
      padding-top: 16px;
    }

    .cart-product {
      padding: 0;
      border: none;

      width: calc(100% / 2 - 12px);

      @include breakpoint(portrait-tablet) {
        width: 100%;
      }
    }
  }
  ._canceled-status {
    display: none;
  }

  .order-article__keeping {
    position: relative;

    width: max-content;
    margin-right: 8px;
    margin-left: unset;
    padding-left: unset;
    padding-right: 16px;

    color:  var(--base-2, #8C8C8C);
    font: var(--font-Text-T5-reg1);
    letter-spacing: 0.02em;
    text-transform: initial;

    &::before {
      position: absolute;
      top: 50%;
      left: unset;

      right: 0;

      width: 8.5px;
      height: 8.5px;

      @include svgBackground(url("data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%229%22%20height%3D%229%22%20viewBox%3D%220%200%209%209%22%20fill%3D%22none%22%3E%0A%20%20%3Cpath%20d%3D%22M4.17144%207.04956L4.27536%206.76872C4.65934%205.73104%205.47749%204.91289%206.51517%204.52891L6.79601%204.42499L6.51517%204.32107C5.47749%203.9371%204.65934%203.11895%204.27536%202.08127L4.17144%201.80043L4.06752%202.08127C3.68354%203.11895%202.8654%203.9371%201.82772%204.32107L1.54688%204.42499L1.82772%204.52891C2.8654%204.91289%203.68354%205.73104%204.06752%206.76872L4.17144%207.04956Z%22%20fill%3D%22%238C8C8C%22%2F%3E%0A%3C%2Fsvg%3E"), 100%, 100%);

      transform: translateY(-50%);
      content: "";
    }
  }

  &__info {
    padding-top: 24px;

    @include breakpoint(portrait-tablet) {
      padding-top: 16px;
    }
  }

  &__price-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 3.2rem;

    @include breakpoint(portrait-tablet) {
      padding-top: 0rem;
    }

    @include breakpoint(small-tablet) {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
  }

  &__medium-btn {
    &.medium-btn {
      @include breakpoint(small-tablet) {
        width: 100%;
      }
    }
  }

  &__price {
    display: inline-flex;

    font: var(--font-Text-T3-med1);
    color: var(--41352-b, #41352B);
    letter-spacing: 0.02em;

    span {
      &::after {
        content: "₽";
        font-weight: 400;
      }
    }
  }

  &__dataset {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.4rem;

    @include breakpoint(portrait-tablet) {
      margin-bottom: 2rem;
    }

    li {
      display: inline;
      margin-bottom: 1.2rem;

      @include breakpoint(portrait-tablet) {
        overflow: auto;
        margin-bottom: 0.6rem;
      }

      @include noScrollbar();
    }

    span {
      display: inline;
      color: var(--191919, #191919);
      font: var(--font-Text-T5-med1);
      letter-spacing: 0.02em;
      white-space: nowrap;
    }

    .order-cart__key {
      color:  var(--base-2, #8C8C8C);
    }
  }

  &--processing {
    .order-article__status {
      &.status--processing {
        display: flex;
      }
    }

    ._success-delivered-status {
      display: none;
    }
  }

  &--canceled {
    .order-article__status {
      &.status--canceled {
        display: flex;
      }
    }

    ._success-delivered-status,
    ._success-expect-status {
      display: none;
    }

    ._canceled-status {
      display: inline;
    }

    .order-article__cancel-btn {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }

  &--delivered {
    .order-article__status {
      &.status--delivered {
        display: flex;
      }
    }

    ._success-delivered-status {
      display: inline;
    }

    ._success-expect-status {
      display: none;
    }

    .order-article__keeping {
      display: inline;
    }
  }

  &--on-transit {
    .order-article__status {
      &.status--on-transit {
        display: flex;
      }
    }

    ._success-delivered-status {
      display: none;
    }

    ._success-expect-status {
      display: inline;
    }

    .order-article__cancel-btn {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }
}
