.save-panel {
  display: flex;
  align-items: center;
  gap: 5rem;

  padding-top: 7.2rem;

  @include breakpoint(portrait-tablet) {
    flex-direction: column;
    gap: 2.4rem;
    align-items: center;
    padding-top: 24px;
  }

  &__save-btn {
    &.large-btn {
      @include breakpoint(portrait-tablet) {
        width: 100%;
      }
    }
  }
}
