.contacts-page {
  overflow: hidden;

  &__body {
    display: flex;
  }

  &__map-wrapper {
    flex-grow: 1;
    max-width: 100%;
  }

  &__map {
    position: relative;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 2.05 / 1;

    @include breakpoint(tablet) {
      aspect-ratio: 1 / 1;
    }

    @include breakpoint(small-tablet) {
      aspect-ratio: 1 / 1.5;
    }
  }

  &__map-popup {
    position: absolute;
    left: 50%;
    bottom: 4rem;
    z-index: 100;

    transform: translateX(-50%);

    @include breakpoint(portrait-tablet) {
      left: 1.2rem;
      right: 1.2rem;
      bottom: 1.2rem;

      // width: 100%;
      transform: unset;
    }
  }
}