[class*="ymaps-2"][class*="-ground-pane"] {
  // filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: invert(1) grayscale(100%);
  filter: invert(1) grayscale(100%);
}

.ya-placemark {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 3rem;
  height: 3rem;

  border-radius: 50%;
  cursor: pointer;

  .icon {
    width: 1.8rem;
    height: 1.8rem;
    flex-shrink: 0;
  }
}

.btn#zoom-in,
.btn#zoom-out {
  width: 34px;
  height: 34px;

  border-radius: 100%;
  cursor: pointer;
}

.btn#zoom-in {
  @include svgBackground(url("data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2234%22%20height%3D%2234%22%20viewBox%3D%220%200%2034%2034%22%20fill%3D%22none%22%3E%0A%20%20%3Crect%20width%3D%2234%22%20height%3D%2234%22%20rx%3D%2217%22%20fill%3D%22white%22%2F%3E%0A%20%20%3Crect%20x%3D%2216.9922%22%20y%3D%2211.3335%22%20width%3D%220.85%22%20height%3D%2212.0417%22%20rx%3D%220.425%22%20fill%3D%22%2341352B%22%2F%3E%0A%20%20%3Crect%20x%3D%2223.3672%22%20y%3D%2217.0002%22%20width%3D%220.85%22%20height%3D%2212.0417%22%20rx%3D%220.425%22%20transform%3D%22rotate(90%2023.3672%2017.0002)%22%20fill%3D%22%2341352B%22%2F%3E%0A%3C%2Fsvg%3E"), 100%, 100%)
}

.btn#zoom-out {
  @include svgBackground(url("data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2234%22%20height%3D%2234%22%20viewBox%3D%220%200%2034%2034%22%20fill%3D%22none%22%3E%0A%20%20%3Crect%20width%3D%2234%22%20height%3D%2234%22%20rx%3D%2217%22%20fill%3D%22white%22%2F%3E%0A%20%20%3Crect%20x%3D%2223.3672%22%20y%3D%2217%22%20width%3D%220.85%22%20height%3D%2212.0417%22%20rx%3D%220.425%22%20transform%3D%22rotate(90%2023.3672%2017)%22%20fill%3D%22%2341352B%22%2F%3E%0A%3C%2Fsvg%3E"), 100%, 100%)
}

.ya-scale__btns {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  column-gap: 5px;
}
