.certificates {
  &__body {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    background-color: #F8F8F8;
  }

  &__form {
    flex: 1 0 50%;
    padding: 6.4rem;
  }

  &__title {
    margin-bottom: 4rem;
    font: var(--font-Heading-H2);
  }

  &__range {
    margin-bottom: 4.8rem;
  }

  &__agreement {
    max-width: 44rem;

    p {
      font: var(--font-Text-T5-lg1);
      text-transform: initial;
    }
  }

  &__submit {
    margin-top: 2rem;
  }

  &__picture {
    flex: 0 1 50%;
    padding: 6rem 7.2rem;
  }
}
