.collection {
  padding: 4.7rem 0 0rem;

  &__slogan {
    margin-bottom: 16rem;

    @include breakpoint(portrait-tablet) {
      margin-bottom: 9rem;
    }
  }

  &__list-wrapper {
    position: relative;

    @include breakpoint(tablet) {
      width: unset;
      margin: 0 -100%;
      padding: 0 100%;
    }
  }

  &__swiper {
    &.swiper {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 10;

      width: 100%;
      height: 100%;
    }
  }

  &__swiper-slide {
    &.swiper-slide {
      position: relative;
      overflow: hidden;

      img {
        @include centeredAbsolute();
        z-index: 10;

        display: block;
        width: 100%;
        min-height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }


  &__list {
    position: relative;
    z-index: 20;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 8rem 0;

    @include breakpoint(tablet) {
      padding: 4.7rem 0;
    }
  }

  &__item {
    position: relative;
    z-index: 20;

    width: 100%;
    margin-bottom: 1.2rem;

    &:last-child {
      margin-bottom: 0;
    }

    @include breakpoint(tablet) {
      margin-bottom: 0;

      &:not(:last-child) {
        .collection__link {
          border-width: 1px 0 0 0;
        }
      }
    }
  }

  &__title {
    position: relative;

    display: flex;
  }

  &__arrow {
    position: absolute;
    top: 53%;
    left: 0;

    transform: translateY(-50%) scale(0);
    opacity: 0;

    transition: var(--transition);

    .icon {
      width: 6rem;
      height: 2.43rem;
    }
  }

  &__name {
    display: block;
    padding-left: 0;

    color: rgba($color: #ffffff, $alpha: 0.5);
    font-size: 7rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    white-space: nowrap;

    transition: 0.3s ease-out;

    @include breakpoint(tablet) {
      color: rgba($color: #ffffff, $alpha: 1);
      font-size: 36px;
      line-height: 100%;
      letter-spacing: 0.72px;
    }

    @include breakpoint(supersmall-mobile) {
      font-size: 30px;
      letter-spacing: 0.54px;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    column-gap: 1.1rem;

    padding-bottom: 3rem;
    transform: translateX(50%);
    opacity: 0;

    transition: 0.3s ease-out;

    @include breakpoint(tablet) {
      display: none;
    }
  }

  &__star {
    .icon {
      width: 1.8rem;
      height: 1.8rem;

      fill: var(--base-1, #fff);
    }
  }

  &__value,
  &__text {
    color: var(--base-1, #fff);
    font: var(--font-Text-T3-semi1);
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }

  &__link {
    display: flex;
    justify-content: space-between;
    column-gap: 2rem;

    width: 100%;
    padding: 0.9rem 6.4rem;

    text-shadow: none;

    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: transparent;

    transition: var(--transition);

    &:hover {
      border-color: var(--base-1, #fff);

      .collection__arrow {
        transform: translateY(-50%) scale(1);
        opacity: 1;
      }

      .collection__name {
        padding-left: 8.3rem;
        color: rgba($color: #ffffff, $alpha: 1);

        @include breakpoint(tablet) {
          padding-left: 5.9rem;
        }
      }

      .collection__info {
        transform: translateX(0);
        opacity: 1;
      }

      @include breakpoint(tablet) {
        border-color: rgba($color: #ffffff, $alpha: 0.2);
      }
    }

    @include breakpoint(tablet) {
      padding: 1.6rem 2rem;

      border-color: rgba($color: #ffffff, $alpha: 0.2);

      .collection__arrow {
        transform: translateY(-50%) scale(1);
        opacity: 1;

        .icon {
          width: 4.7rem;
          height: 1.9rem;
        }
      }

      .collection__name {
        padding-left: 5.9rem;
        color: rgba($color: #ffffff, $alpha: 1);
      }
    }
  }

  @include breakpoint(small-tablet) {
    padding: 3rem 0 0rem;
  }
}

.slogan {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__icon {
    display: block;

    width: 1.8rem;
    height: 1.8rem;
    margin-bottom: 3.5rem;

    .icon {
      width: 100%;
      height: 100%;
    }

    @include breakpoint(small-tablet) {
      margin-bottom: 2rem;
    }
  }

  &__text {
    font: var(--font-Text-T1-reg1);
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: uppercase;

    &--max-width {
      display: block;
      max-width: 130rem;
    }
  }

  &__text-span {
    @include breakpoint(small-tablet) {
      display: none;
    }
  }
}
