.intro {
  z-index: 1;
  width: 100%;

  $header-height: 7rem;

  // intro swiper slide ==================================>
  &__inner-wrapper {
    position: relative;

    width: 100%;
    height: 100vh;
  }

  &__swiper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;

    height: 100%;
  }

  &__swiper-slide {
    padding-top: $header-height;
  }

  // <================================== intro swiper slide

  &__controls {
    height: 100%;
    padding-top: $header-height;

    .site-container {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__buttons {
    position: relative;
    z-index: 10;

    display: flex;
    align-items: center;
    column-gap: 2.7rem;

    width: max-content;
    margin-left: auto;
    padding-top: 4.6rem;

    @include breakpoint(small-tablet) {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }

  &__button {
    width: 3.5rem;
    height: 3.2rem;

    .icon {
      width: 100%;
      height: 100%;
    }

    &--prev {
      .icon {
        transform: rotate(180deg);
      }
    }

  }

  &__title {
    position: relative;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto -100% 0 -100%;
    padding: 0 100% 0 100%;

    user-select: none;

    @include breakpoint(large-desktop) {
      justify-content: space-between;
    }
  }

  &__span {
    color: var(--base-1, #FFF);
    font-size: 33.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 106%;
    letter-spacing: 8.72px;
    text-transform: uppercase;
    text-align: center;

    &--modified {
      letter-spacing: -20.16px;
    }

    @include breakpoint(large-desktop) {
      font-size: 28.6rem;
    }

    @include breakpoint(desktop) {
      font-size: 26.6rem;
    }

    @include breakpoint(small-desktop) {
      font-size: 24.6rem;
    }

    @include breakpoint(laptop) {
      font-size: 20.6rem;
    }

    @include breakpoint(tablet) {
      display: none;
    }
  }

  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    color: var(--base-1, #FFF);

    .site-container {
      display: flex;
      column-gap: 2rem;

      padding-top: 2rem;
      padding-bottom: 5rem;

      border-style: solid;
      border-color: var(--base-1, #FFF);
      border-width: 1px 0 0 0;
    }

  }

  &__footer-text {
    flex: 0 1 43.2rem;
    font: var(--font-Text-T5-lg1);
    letter-spacing: 0.28px;
    text-transform: initial;

    &:not(:first-child) {
      @include breakpoint(laptop) {
        display: none;
      }
    }
  }

  &__scroll {
    margin-left: auto;

    @include breakpoint(portrait-tablet) {
      display: none;
    }
  }
}
