.agreement {
  display: inline;

  span,
  a {
    display: inline-block;
    font: var(--font-Text-T5-lg1);
    letter-spacing: 0.28px;
    text-transform: initial;
  }

  span {
    color: rgba(25, 25, 25, 0.60);
  }

  a {
    color: var(--base-3, #191919);

    &:hover {
      text-decoration: underline;
    }
  }

}
