.collect-link {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 27.2rem;

  @include breakpoint(desktop) {
    min-width: 22rem;
  }

  &__picture {
    position: relative;
    overflow: hidden;

    width: 100%;
    aspect-ratio:  4.54 / 6;
    margin-bottom: 1.2rem;

    img {
      @include centeredAbsolute();
      z-index: 1;

      max-width: unset;
      min-height: 100%;
      object-fit: cover;
      object-position: center;

      transition: transform 0.3s ease-out;
    }
  }

  &__text {
    display: block;
    width: max-content;
    color: var(--base-3, #191919);
    font: var(--font-Text-T5-semi1);
    letter-spacing: 0.84px;
  }

  &:hover {
    .collect-link__picture {
      img {
        transform: translate(-50%, -50%) scale(1.05);
      }
    }
  }
}
