.menu {
  display: flex;
  align-items: center;
  column-gap: 2rem;

  button {
    text-align: left;
  }

  &__item {
    position: relative;

    &:first-child {
      cursor: pointer;
    }

    &:hover .menu__sublist-wrapper {
      opacity: 1;
      visibility: visible;
    }
  }

  &__sublist-wrapper {
    position: absolute;
    z-index: 110;
    top: calc(100% + 16px);
    background-color: var(--base-1, #fff);
    border: 1px solid hsl(0, 0%, 10%, .3);
    color: var(--base-3);
    opacity: 0;
    visibility: hidden;
    transition: visibility, opacity;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
  }

  &__subitem {
    padding: 6px 15px;

    &:hover {
      opacity: .7;
    }
  }

  &__link {
    display: block;
    text-transform: uppercase;
    color: inherit;
    font: var(--font-Text-T6-semi1);
    letter-spacing: 0.06em;
    transition: var(--transition);

    &--active {
      opacity: 1;

      &:hover {
        color: var(--base-3, #191919);
      }
    }

    &:hover {
      color: var(--base-2, #8c8c8c);
    }
  }

  &__back-button {
    padding: 20px 0 20px 20px;
    position: relative;
    border-bottom: 0.1rem hsl(0, 0%, 10%, .2) solid;

    span {
      opacity: .5;
      font-weight: 600;
      letter-spacing: 0.06em;
      text-transform: uppercase;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      translate: 0 -50%;
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 3.09076L10.7255 3.56237C8.75471 4.29163 7.20087 5.84547 6.47161 7.81624L6 9.09076L5.52839 7.81624C4.79913 5.84547 3.24529 4.29163 1.27452 3.56237L-4.84582e-07 3.09076C1.93403 2.3751 5.07776 3.9388 6 5.78328C6.92224 3.9388 10.066 2.3751 12 3.09076Z' fill='%2341352B'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
      width: 12px;
      height: 12px;
      display: block;
      rotate: 90deg;
      opacity: .5;
    }
  }

  @include breakpoint(laptop) {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    align-items: flex-start;

    &__item {
      width: 100%;
      position: initial;

      &:hover .menu__sublist-wrapper {
        visibility: hidden;
        opacity: 0;
      }
    }

    &__link,
    &__subitem {
      position: relative;
      padding: 2rem 0;
      width: 100%;
      border-bottom: 0.1rem hsl(0, 0%, 10%, .2) solid;
      font-weight: 600;
      letter-spacing: 0.06em;
      font-size: 14px;

      &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        translate: 0 -50%;
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 3.09076L10.7255 3.56237C8.75471 4.29163 7.20087 5.84547 6.47161 7.81624L6 9.09076L5.52839 7.81624C4.79913 5.84547 3.24529 4.29163 1.27452 3.56237L-4.84582e-07 3.09076C1.93403 2.3751 5.07776 3.9388 6 5.78328C6.92224 3.9388 10.066 2.3751 12 3.09076Z' fill='%2341352B'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center;
        width: 12px;
        height: 12px;
        display: block;
      }
    }

    &__sublist-wrapper {
      padding: 0 20px;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      overflow-y: auto;
      flex-direction: column;

      &._active {
        opacity: 1 !important;
        visibility: visible !important;
      }
    }

    &__sublist {
      margin-bottom: 40px;
    }
  }
}
