.product-card {
  max-width: 49.6rem;

  &__body {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: stretch;

  }

  &__image {
    position: relative;
    overflow: hidden;
  }

  &__picture {
    position: relative;
    width: 100%;
    aspect-ratio: 4 / 5;

    background: lightgray 0px -91.541px / 100% 120% no-repeat;

    img {
      @include centeredAbsolute();
      z-index: 4;

      display: block;
      width: 100%;
      min-height: 100%;

      object-fit: cover;
      object-position: center;
    }
  }

  &__stickers {
    position: absolute;
    top: 2rem;
    left: 2rem;
    z-index: 10;
  }

  &__favorites {
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;
    z-index: 10;
  }

  &__cart {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    z-index: 10;

    opacity: 0;
    visibility: hidden;

    transition: 0.3s ease-out;


    @include hover-none() {
      opacity: 1;
      visibility: visible;
    }
  }

  &__info {
    margin-top: 1.2rem;
  }

  &__name {
    display: block;
    color: var(--base-3, #191919);
    font: var(--font-Text-T5-semi1);
    letter-spacing: 0.84px;
  }

  &__price {
    display: flex;
    align-items: center;
    column-gap: 0.8rem;

    margin-top: 4px;
  }

  &__price-value {
    color: var(--base-3, #191919);
    font: var(--font-Text-T5-reg1);
    letter-spacing: 0.28px;

    &--old {
      display: none;

      text-decoration-line: line-through;
      text-decoration-thickness: from-font;
      opacity: 0.6;
    }
  }

  .sticker {
    display: none;
  }

  .product-card__sticker {
    &.sticker {
      display: none;
    }
  }

  &--new {
    .product-card__sticker {
      &.sticker--new {
        display: flex;
      }
    }
  }

  &--sale {
    .product-card__sticker {
      &.sticker--sale {
        display: flex;
      }
    }

    .product-card__price-value--old {
      display: block;
    }
  }


  &:hover {
    .product-card__cart {
      opacity: 1;
      visibility: visible;
    }
  }

  &:not(.product-card--stock) {
    pointer-events: none;

    .product-card__picture {
      opacity: 0.6;
    }

    .product-card__favorites {
      &.favorites {
        .icon {
          fill: var(--base-1, #fff);
          stroke: transparent;
        }
      }
    }

    .product-card__sticker {
      display: none;

      &.sticker--sold-out {
        display: flex;
      }
    }

    .product-card__price-value--old {
      display: none;
    }
  }

  &--smaller {
    max-width: 43.1rem;

    .product-card__favorites {
      top: 2rem;
      right: 2rem;
    }
  }

  &--mini {
    .product-card__favorites {
      top: 0.8rem;
      right: 0.8rem;
    }

    .product-card__cart {
      right: unset;
      left: 50%;
      transform: translateX(-50%);
    }

    .product-card__name {
      font: var(--font-Text-T6-semi1);
      letter-spacing: 0.72px;
    }

    .product-card__price-value {
      font: var(--font-Text-T6-reg1);
    }
  }
}
