section.s-navigation.catalog-layout.catalog
  .catalog-layout__head
    .site-container
      .catalog-layout__title
        h1
          | Навигация

  .catalog-layout__body
    .site-container
      h4.s-navigation__title Страницы:

      ul.s-navigation__list
        li.s-navigation__item
          a.s-navigation__link(href="./index.html") Главная
        li.s-navigation__item
          a.s-navigation__link(href="./page-catalog-main.html") Kаталог 1-го уровня
        li.s-navigation__item
          a.s-navigation__link(href="./page-catalog-item.html") Kаталог 2-го уровня
        li.s-navigation__item
          a.s-navigation__link(href="./page-product.html") Страница товара
        li.s-navigation__item
          a.s-navigation__link(href="./page-collections.html") Коллекции
        li.s-navigation__item
          a.s-navigation__link(href="./page-results.html") поиск не дал результатов
        li.s-navigation__item
          a.s-navigation__link(href="./page-results-exist.html") результаты поиска есть
        li.s-navigation__item
          a.s-navigation__link(href="./page-collections-item.html") детальная коллекции
        li.s-navigation__item
          a.s-navigation__link(href="./page-blog.html") Блог
        li.s-navigation__item
          a.s-navigation__link(href="./page-blogs-article.html") Статья блога
        li.s-navigation__item
          a.s-navigation__link(href="./page-certificates.html") Сертификаты
        li.s-navigation__item
          a.s-navigation__link(href="./page-about.html") О нас
        li.s-navigation__item
          a.s-navigation__link(href="./page-typical.html") Типовая страница
        li.s-navigation__item
          a.s-navigation__link(href="./page-contacts.html") Контакты
        li.s-navigation__item
          a.s-navigation__link(href="./page-order.html") Оформление
        li.s-navigation__item
          a.s-navigation__link(href="./page-order-authenticated.html") Оформление(авторизованный пользователь)

      h4.s-navigation__title Страницы личного кабинета:

      ul.s-navigation__list
        li.s-navigation__item
          a.s-navigation__link(href="./page-account-personals.html") Личные данные
        li.s-navigation__item
          a.s-navigation__link(href="./page-account-orders.html") Личный кабинет- заказы
        li.s-navigation__item
          a.s-navigation__link(href="./page-account-order-item.html") Личный кабинет - состав заказа
        li.s-navigation__item
          a.s-navigation__link(href="./page-account-favorites.html") Личный кабинет - избранное
        li.s-navigation__item
          a.s-navigation__link(href="./page-account-bonuses.html") Личный кабинет - бонусы
        li.s-navigation__item
          a.s-navigation__link(href="./page-account-promocodes.html") Личный кабинет - промокоды
        li.s-navigation__item
          a.s-navigation__link(href="./page-account-certificates.html") Личный кабинет - сертификаты
        li.s-navigation__item
          a.s-navigation__link(href="./page-account-mailings.html") Личный кабинет - рассылки
        li.s-navigation__item
          a.s-navigation__link(href="./page-account-notifications.html") Личный кабинет - уведомления
