main.page-main.main
  include contacts-page.pug
  include requisites.pug
  include partnership.pug

  .modal.modal-popup.modal-popup--certificate
    include ../../parts/modals/modal-popup-partnership.pug
