section.section.partnership
  .site-container
    .partnership__body
      .partnership__content
        h3 хотите сотрудничать?
        p
          | Рефлексия прекрасно вызывает комплекс. Поведенческая терапия, иcходя
          | из того, что просветляет филосовский код. Как отмечает Д.Майерс, у
          | нас есть некоторое чувство конфликта

        button.medium-btn.medium-btn--second(data-path="modal-partnership")
          span.medium-btn__body
            span.medium-btn__arrow
            span.medium-btn__text
              | оставить заявку
            +icon-multi('link-arrow-clean')
          span.medium-btn__loader
            +icon-mono('loader')
