.modal__container(data-target="modal-lifestyle")
  .modal__content.modal-locate-list__content.modal-lifestyle__content
    .modal-locate-list__head
      .modal-locate-list__title
        .modal-locate-list__cart-title
          | товары из образа
          span.modal-locate-list__cart-counter
            | 3
      button.modal-locate-list__close.modal-close(type="button")
        +icon-mono('close-big')

    .modal-locate-list__body.modal-cart__body.modal-lifestyle__body
      ul.modal-cart__products.modal-lifestyle__products
        li.modal-cart__product
          a.cart-product.cart-product--lifestyle(href="#", data-id="")
            .cart-product__body
              .cart-product__image
                +picture('products/pic-1.jpg', 'retrova cart product image')

              .cart-product__control
                .cart-product__heading
                  span.cart-product__name Брюки джинсовые

                  .cart-product__params.popup-cart__params
                    span.popup-cart__params-size
                      | белый

                  .cart-product__prices.cart-product__prices--start.about-product__prices.about-product__prices--sale
                    span.about-product__price
                      | 25 000
                    span.about-product__price.about-product__price--old
                      | 32 000

        li.modal-cart__product
          a.cart-product.cart-product--lifestyle.cart-product--sale(href="", data-id="")
            .cart-product__body
              .cart-product__image
                +picture('products/pic-1.jpg', 'retrova cart product image')

              .cart-product__control
                .cart-product__heading
                  span.cart-product__name Брюки джинсовые

                  .cart-product__params.popup-cart__params
                    span.popup-cart__params-size
                      | белый

                  .cart-product__prices.cart-product__prices--start.about-product__prices.about-product__prices--sale
                    span.about-product__price
                      | 25 000
                    span.about-product__price.about-product__price--old
                      | 32 000

        li.modal-cart__product
          a.cart-product.cart-product--lifestyle(href="", data-id="")
            .cart-product__body
              .cart-product__image
                +picture('products/pic-1.jpg', 'retrova cart product image')

              .cart-product__control
                .cart-product__heading
                  span.cart-product__name Брюки джинсовые

                  .cart-product__params.popup-cart__params
                    span.popup-cart__params-size
                      | белый

                  .cart-product__prices.cart-product__prices--start.about-product__prices.about-product__prices--sale
                    span.about-product__price
                      | 25 000
                    span.about-product__price.about-product__price--old
                      | 32 000

        li.modal-cart__product
          a.cart-product.cart-product--lifestyle.cart-product--sale(href="", data-id="")
          .cart-product__body
            .cart-product__image
              +picture('products/pic-1.jpg', 'retrova cart product image')

            .cart-product__control
              .cart-product__heading
                span.cart-product__name Брюки джинсовые

                .cart-product__params.popup-cart__params
                  span.popup-cart__params-size
                    | белый

                .cart-product__prices.cart-product__prices--start.about-product__prices.about-product__prices--sale
                  span.about-product__price
                    | 25 000
                  span.about-product__price.about-product__price--old
                    | 32 000

        li.modal-cart__product
          a.cart-product.cart-product--lifestyle(href="", data-id="")
          .cart-product__body
            .cart-product__image
              +picture('products/pic-1.jpg', 'retrova cart product image')

            .cart-product__control
              .cart-product__heading
                span.cart-product__name Брюки джинсовые

                .cart-product__params.popup-cart__params
                  span.popup-cart__params-size
                    | белый

                .cart-product__prices.cart-product__prices--start.about-product__prices.about-product__prices--sale
                  span.about-product__price
                    | 25 000
                  span.about-product__price.about-product__price--old
                    | 32 000

        li.modal-cart__product
          a.cart-product.cart-product--lifestyle.cart-product--sale(href="", data-id="")
            .cart-product__body
              .cart-product__image
                +picture('products/pic-1.jpg', 'retrova cart product image')

              .cart-product__control
                .cart-product__heading
                  span.cart-product__name Брюки джинсовые

                  .cart-product__params.popup-cart__params
                    span.popup-cart__params-size
                      | белый

                  .cart-product__prices.cart-product__prices--start.about-product__prices.about-product__prices--sale
                    span.about-product__price
                      | 25 000
                    span.about-product__price.about-product__price--old
                      | 32 000


      .modal-lifestyle__add-btn
        button.large-btn
          span.large-btn__text
            | Добавить образ в корзину
          span.large-btn__loader
            +icon-mono('loader')
