.modal__container(data-target="modal-certificate")
  .modal__wrapper-with-image
    .modal__image
      +imgOriginal('certificates/pic-1-big.png', 'retrova certificates image')
    .modal__content.modal-locate-list__content
      .modal-locate-list__head
        span.modal-locate-list__title
          | Оформление сертификата
        button.modal-locate-list__close.modal-close(type="button")
          +icon-mono('close-big')

      form.modal-certificate__form.modal-locate-list__body.js-form-validate.js-form-validate-certif(data-need-validation, action="")
        .modal-certificate__collect
          span.modal-certificate__title Куда отправить сертификат

          .modal-certificate__inputs
            .form-questionnaires__input
              +Input-required('partner-name', 'partner-name', 'Имя', '', '', true)(data-required, class="js-processed-input")
            .form-questionnaires__input
              +Input-phone('cert-activate-phone', 'cert-activate-phone', 'номер телефона', 'Укажите телефон', '')(class="js-processed-input input-box--no-label")

              

          .modal-certificate__agreements
            +Checkbox-required('agreement-checkbox', 'agreement-checkbox', '', true)
            p.modal-certificate__agreement-text
              span Соглашаюсь с&nbsp;
              a(href="#")
                | правилами использования
                br
                | подарочного сертификата RETROVA

        button.modal-certificate__button.large-btn.js-btn-submit(type="submit")
          span.large-btn__text
            | оплатить 1000₽
          span.large-btn__loader
            +icon-mono('loader')
