.modal__container(data-target="popup-order-success")
  .modal__content
    button.modal__close-btn.modal-close(type="button")
      i

    .modal-popup__body
      h2
        | заказ успешно
        br
        | оформлен!

      .modal-popup__content
        .modal-popup__bonuses
          span бонусов начислено:&nbsp;
          span.modal-popup__bonuses-value 184

    a.modal-popup__button.large-btn.large-btn--second(href="/")
      span.large-btn__text
        | отлично
      span.large-btn__loader
        +icon-mono('loader')
