include ../data/config.pug
include ../mixins/**/*.pug

block variables

doctype html
html(lang=siteLang)
  head
    include ../parts/head.pug
  body(class=bodyClass)
    .page-wrapper.page-wrapper--secondary
      block header
        include ../parts/header/header.pug

      block breadcrumbs
        include ../parts/breadcrumbs.pug

      block content

      block footer
        include ../parts/footer.pug

    .modal
      include ../parts/modals/modal.pug

    .modal.modal-filters.modal-locate-list.js-modal-filters
      include ../parts/modals/modal-filters.pug

    .modal.modal-filters.modal-locate-list
      include ../parts/modals/modal-quick-add.pug

    .modal.modal-filters.modal-locate-list
      include ../parts/modals/modal-add-size.pug

    .modal.modal-locate-list
      include ../parts/modals/modal-locate-list.pug

    .modal.modal-locate-list
      include ../parts/modals/modal-size-table.pug

    .modal.modal-locate-list
      include ../parts/modals/modal-service.pug

    .modal.modal-locate-list.modal-lifestyle
      include ../parts/modals/modal-lifestyle.pug

    .modal.modal-certificate.modal-locate-list--certificates
      include ../parts/modals/modal-certificate.pug

    .modal.modal-locate-list.modal-lifestyle
      include ../parts/modals/modal-partnership.pug


  block scripts
    script(src="assets/js/main.js?v=" + siteVersion)
    script(src="assets/js/backend.js?v=" + siteVersion)
