main.page-main.main
  include product-layout.pug
  include more-slider.pug
  include fixed-footer.pug

  .modal.modal--gallery.modal-search
    include ../../parts/modals/modal-gallery.pug

  .modal.modal-locate-list.modal-pickup.modal-pickup--no-checkbox
    include ../../parts/modals/modal-pickup.pug

  .modal.modal-del-point
    include ../../parts/modals/modal-del-point.pug
