.collection-intro {
  position: relative;
  overflow: hidden;
  width: 100%;

  &__container {
    position: relative;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
  }

  &__cover {
    &.seasons-look__cover {
      max-width: 62.4rem;
      margin-bottom: unset;

      @include breakpoint(tablet) {
        max-width: 71%
      }
    }
  }


  &__text {
    @include centeredAbsolute();
    z-index: 5;

    width: 100%;

    .intro__span {
      display: inline-block;

      color: var(--base-3, #191919);
      line-height: 120%;
      letter-spacing: 0.02em;
      text-align: center;
      white-space: nowrap;

      @include breakpoint(tablet) {
        display: block;
        font-size: 11.7rem;
        letter-spacing: 0.02em;
        text-transform: uppercase;
      }
    }
  }

  &__slogan {
    margin-bottom: 12rem;

    @include breakpoint(tablet) {
      margin-bottom: 4rem;
    }
  }
}


#scroll-text {
  /* animation properties */
  -moz-transform: translateX(0%);
  -webkit-transform: translateX(0%);
  transform: translateX(0%);

  -moz-animation: my-animation 120s linear infinite;
  -webkit-animation: my-animation 120s linear infinite;
  animation: my-animation 120s linear infinite;

  @include breakpoint(tablet) {
    -moz-animation: my-animation 10s linear infinite;
    -webkit-animation: my-animation 10s linear infinite;
    animation: my-animation 10s linear infinite;
  }
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(0%); }
  to { -moz-transform: translateX(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(0%); }
  to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
